<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!-- Bootstrap required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSRF meta tags-->
	<!--
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	-->

	<!-- Title & favicon -->
	<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">[[#{global.title}]]</title>
	<link rel="icon" type="image/png" th:href="@{/img/favicon.ico}">

	<th:block th:replace="~{layouts/layoutFragments :: headLinks}"/>
</head>

<body>
	<div id="app">
		<!-- NAVBAR -->
		<th:block th:replace="~{layouts/layoutFragments :: navbar}"/>

		<!-- CONTENT -->
		<main role="main" class="container-xl">
			<div class="frosthaven">
				<div layout:fragment="content"></div>
			</div>
		</main>

		<!-- MODALS -->
		<div layout:fragment="modals"></div>
	</div>

	<!-- JAVASCRIPT -->
	<th:block th:replace="~{layouts/layoutFragments :: jsLinks}"/>
	<script th:replace="~{layouts/layoutFragments :: alpineStoreJs}"></script>
	<div layout:fragment="javascript"></div>
</body>
</html>