<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
<th:block th:fragment="sectionPage">
	<th:block th:replace="~{components/section :: section}"/>

	<!-- TEMPLATE -->
	<script type="text/x-template" id="sectionPageTemplate">
		<bs:row gx="{md:4, xl:5}" gy="4">
			<bs:col col="{xs:12, md:3}">
				<!-- HERE GOES SECTION FORM -->
				<!-- ... -->
			</bs:col>
			<bs:col col="{xs:12, md:9}">
				<FhSection
					v-if="section"
					:section="section"
				/>
			</bs:col>
		</bs:row>
	</script>

	<!-- JAVASCRIPT -->
	<script th:inline="javascript">
		const FhSectionPage = {
			components: {
				FhSection
			},
			template: "#sectionPageTemplate",
			data() {
				return {
					sectionId: /*[[${sectionId}]]*/ null,
					section: null
				};
			},
			created() {
				if (this.sectionId) this.fetchSection();
			},
			methods: {
				fetchSection() {
					log.entry();
					this.section = Frosthaven.getSection({ id: this.sectionId });
					log.exit();
				}
			}
		};
	</script>
</th:block>
</body>
</html>