<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>

<!-- -------- -->
<!-- SCENARIO -->
<!-- -------- -->
<th:block th:fragment="scenario">
	<th:block th:replace="~{:: scenarioTitle}"/>

	<!-- TEMPLATE -->
	<template id="scenarioTemplate">
		<div v-if="scenario" :id="'scenario_' + scenario.id" class="scenario anchor">
			<!-- Title -->
			<fh-scenario-title :scenario="scenario"></fh-scenario-title>

			<!-- Scenario goals -->
			<bs:card v-if="scenario.goals" class="fhCard goals">
				<bs:cardHeader>[[#{scenario.goals}]]</bs:cardHeader>
				<bs:cardBody v-html="scenario.goals"></bs:cardBody>
			</bs:card>
			
			<!-- Scenario effects -->
			<bs:card v-if="scenario.effects" class="fhCard effects">
				<bs:cardHeader>[[#{scenario.effects}]]</bs:cardHeader>
				<bs:cardBody v-html="scenario.effects"></bs:cardBody>
			</bs:card>

			<!-- Sections -->
			<div class="sections">
				<template v-for="pathItem in scenario.path" :key="pathItem">
					<fh-section :scenario-id="scenario.id" :section="scenario.sections[pathItem]"></fh-section>
				</template>
			</div>

			<!-- Random scenario section -->
			<fh-section :section="scenario.randomScenarioSection"></fh-section>
		</div>
	</template>

	<!-- JAVASCRIPT -->
	<script th:inline="javascript">
		const FhScenario = {
			template: "#scenarioTemplate",
			components: {
				FhScenarioTitle,
				FhSection
			},
			props: {
				scenario: Object
			}
		};
	</script>
</th:block>


<!-- -------------- -->
<!-- SCENARIO TITLE -->
<!-- -------------- -->
<th:block th:fragment="scenarioTitle">
	<!-- TEMPLATE -->
	<template id="scenarioTitleTemplate">
		<div class="title">
			<!-- Questline -->
			<div v-if="scenario.questLine" class="questLine" :class="scenario.questLine.uncapitalize()">
				{{questLinesStrings[scenario.questLine]}}
			</div>
			<h1>
				<!-- Id and name -->
				<span class="titleSecondary">{{Number(scenario.id)}} ·</span>
				<span>{{scenario.name}}</span>

				<!-- Requirements -->
				<div v-if="scenario.requirement" class="requirement">
					<div v-if="scenario.requirement.transport" class="transport">
						<img :src="iconsUrl + '/' + scenario.requirement.transport + '.png'">
					</div>
					<div v-if="scenario.requirement.status" class="status">
						{{scenario.requirement.status}}
					</div>
				</div>
			</h1>
			<!-- Unlocked by -->
			<fh-unlocked-by :unlocked-by="scenario.unlockedBy"></fh-unlocked-by>

			<!-- Location -->
			<div v-if="scenario.location" class="subtitle">
				<fa-icon icon="map-location" fixedWidth bs:me="1"></fa-icon>
				{{scenario.location}}
			</div>
		</div>
	</template>

	<!-- JAVASCRIPT -->
	<script th:inline="javascript">
		const FhScenarioTitle = {
			template: "#scenarioTitleTemplate",
			components: {
				FhUnlockedBy
			},
			props: {
				scenario: Object
			},
			inject: {
				iconsUrl: { from: "iconsUrl" },
				questLinesStrings: { from: "questLinesStrings" }
			}
		};
	</script>
</th:block>

</body>
</html>