<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
<th:block th:fragment="scenarioPage">
	<th:block th:replace="~{components/unlockedBy :: unlockedBy}"/>
	<th:block th:replace="~{components/rewards :: rewards}"/>
	<th:block th:replace="~{components/scenario/scenarioForm :: scenarioForm}"/>
	<th:block th:replace="~{components/scenario/scenario :: scenario}"/>

	<!-- TEMPLATE -->
	<template id="scenarioPageTemplate">
		<bs:row gx="{md:4, xl:5}" gy="4">
			<bs:col col="{xs:12, md:3}">
				<fh-scenario-form>
				</fh-scenario-form>
			</bs:col>
			<bs:col col="{xs:12, md:9}">
				<fh-scenario
					v-if="scenario"
					:scenario="scenario">
				</fh-scenario>
			</bs:col>
		</bs:row>
	</template>

	<!-- JAVASCRIPT -->
	<script th:inline="javascript">
		const FhScenarioPage = {
			components: {
				FhScenarioForm,
				FhScenario
			},
			template: "#scenarioPageTemplate",
			data() {
				return {
					scenarioId: /*[[${scenarioId}]]*/ null,
					scenarioPath: /*[[${scenarioPath}]]*/ null,
					scenario: null
				};
			},
			created() {
				if (this.scenarioId) this.fetchScenario();
			},
			methods: {
				fetchScenario() {
					log.entry();
					this.scenario = Frosthaven.getScenario({ id: this.scenarioId, path: this.scenarioPath });
					log.exit();
				}
			}
		};
	</script>
</th:block>
</body>
</html>