<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ------- -->
	<!-- LOADING -->
	<!-- ------- -->
	<div th:fragment="loading" id="loading">
		<div class="spinner-border" role="status"></div>
		<div>[[#{personalStory.loading}]]</div>
	</div>


	<!-- -------- -->
	<!-- CAMPAIGN -->
	<!-- -------- -->
	<div th:fragment="campaign" id="campaign">
		<div class="row gx-5">
			<div class="col-3 d-none d-sm-block">
				<!-- Table of contents -->
				<th:block th:replace="~{fragments/tableOfContents :: tableOfContents}"></th:block>
			</div>
			<div class="col-12 col-sm-9 position-relative">
				<!-- Edit personal story button -->
				<button type="button" id="editPersonalStoryButton" class="btn btn-primary"
						data-bs-toggle="modal" data-bs-target="#editPersonalStoryModal">
					<i class="fa-solid fa-pen-to-square"></i>
				</button>

				<div id="personalStory">
					<!-- Welcome -->
					<th:block th:if="${welcome}">
						<th:block th:replace="~{fragments/campaign :: welcome}"></th:block>
					</th:block>

					<!-- The party -->
					<th:block th:if="${!#lists.isEmpty(party)}">
						<th:block th:replace="~{fragments/campaign :: party}"></th:block>
					</th:block>
					
					<div th:each="storyObject : ${story}" class="storyObject">
						<!-- Event -->
						<th:block th:if="${storyObject.objectType.name() == 'EVENT'}">
							<th:block th:replace="~{fragments/event :: event(${storyObject})}"></th:block>
						</th:block>

						<!-- Scenario -->
						<th:block th:if="${storyObject.objectType.name() == 'SCENARIO'}">
							<th:block th:replace="~{fragments/scenario :: scenario(${storyObject})}"></th:block>
						</th:block>

						<!-- Outpost phase -->
						<th:block th:if="${storyObject.objectType.name() == 'OUTPOST_PHASE'}">
							<th:block th:replace="~{fragments/outpostPhase :: outpostPhase(${storyObject})}"></th:block>
						</th:block>
					</div>
				</div>

				<!-- Back to top button -->
				<button type="button" id="backToTopButton" class="btn btn-secondary d-none" onclick="backToTop()">
					<i class="fa-solid fa-arrow-up fa-lg"></i>
				</button>
			</div>
		</div>
	</div>


	<!-- ------- -->
	<!-- WELCOME -->
	<!-- ------- -->
	<div th:fragment="welcome" id="welcome">
		<h1 class="title">[[#{welcome.title}]]</h1>
		<div class="text">
			[(${welcome})]
		</div>
	</div>


	<!-- ----- -->
	<!-- PARTY -->
	<!-- ----- -->
	<div th:fragment="party" id="party">
		<h1 class="title">[[#{party.title}]]</h1>
		<th:block th:each="character : ${party}">
			<th:block th:replace="fragments/character :: character(${character},true)"></th:block>
		</th:block>
	</div>


	<!-- ----------- -->
	<!-- CAMPAIGN JS -->
	<!-- ----------- -->
	<script th:fragment="campaignJs" id="campaignJs" th:inline="javascript">
		// Only show back to top button if the user has scrolled down
		window.onscroll = function() {
			const backToTopButton = document.getElementById("backToTopButton");
			if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
				backToTopButton.classList.remove("d-none");
			}
			else backToTopButton.classList.add("d-none");
		};

		function backToTop() {
			console.log("backToTop()");
			// Safari
			document.body.scrollTop = 0;
			// Chrome, Firefox, IE and Opera
  			document.documentElement.scrollTop = 0; 
		}
	</script>
</body>
</html>