<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ----------------- -->
	<!-- TABLE OF CONTENTS -->
	<!-- ----------------- -->
	<div th:fragment="campaignTableOfContents" id="tableOfContents">
		<bs:list flush>
			<!-- WELCOME -->
			<bs:listItem th:if="${welcome}" tag="a" action href="#welcome">
				[[#{welcome.title}]]
			</bs:listItem>

			<!-- PARTY -->
			<template x-if="partyMembers.length > 0">
				<div style="display:contents;">
					<bs:listItem tag="a" action href="#party">[[#{party.title}]]</bs:listItem>
					<template x-for="character in partyMembers">
						<bs:listItem tag="a" action class="child" x-bind:href="'#character_' + character.id">
							<div class="iconWrapper">
								<img class="icon" x-bind:class="character.id" x-bind:src="$store.iconsUrl + '/' + character.id + '.png'">
							</div>
							<span x-jsz>{{character.fullName}}</span>
						</bs:listItem>
					</template>
				</div>
			</template>

			<template x-for="campaignItem in campaignItems">
				<div style="display:contents;">
					<!-- SCENARIO -->
					<template x-if="campaignItem.scenario" x-data="{ get scenario() { return campaignItem.scenario } }">
						<bs:listItem tag="a" action x-bind:href="'#scenario_' + scenario.id">
							<div class="scenarioNumber questLine" x-bind:class="$store.uncapitalize(scenario.questLine)" x-jsz>
								{{Number(scenario.id).toString()}}
							</div>
							<strong x-jsz>{{scenario.name}}</strong>
						</bs:listItem>
					</template>

					<!-- EVENT -->
					<template x-if="campaignItem.event" x-data="{ get event() { return campaignItem.event } }">
						<bs:listItem tag="a" action x-bind:href="'#event_' + event.id" x-jsz>
							{{event.id}} · {{$store.typesAndSeasonsStrings[event.typeAndSeason]}} [[#{event.title}]]
						</bs:listItem>
					</template>

					<!-- OUTPOST PHASE -->
					<template x-if="campaignItem.outpostPhase" x-data="{ get outpostPhase() { return campaignItem.outpostPhase } }">
						<div style="display:contents">
							<bs:listItem tag="a" action x-bind:href="'#outpostPhase_' + outpostPhase.id" x-jsz>
								[[#{outpostPhase.title}]] #{{outpostPhase.id}}
							</bs:listItem>

							<!-- Town guard perks -->

							<!-- Passage of time -->

							<!-- Outpost event -->
							<template x-if="outpostPhase.outpostEvent" x-data="{ get event() { return outpostPhase.outpostEvent } }">
								<bs:listItem tag="a" action class="child" x-bind:href="'#event_' + event.id" x-jsz>
									{{event.id}} · {{$store.typesAndSeasonsStrings[event.typeAndSeason]}} [[#{event.title}]]
								</bs:listItem>
							</template>

							<!-- Retirements -->

							<!-- New members -->
						</div>
					</template>
				</div>
			</template>
		</bs:list>
	</div>
</body>
</html>
