<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ----------------- -->
	<!-- TABLE OF CONTENTS -->
	<!-- ----------------- -->
	<div th:fragment="campaignTableOfContents" id="tableOfContents">
		<bs:list flush>
			<!-- WELCOME -->
			<bs:listItem th:if="${welcome}" tag="a" action href="#welcome">
				[[#{welcome.title}]]
			</bs:listItem>

			<!-- PARTY -->
			<template x-if="initialParty.length > 0">
				<div style="display:contents;">
					<bs:listItem tag="a" action href="#party">[[#{party.title}]]</bs:listItem>
					<template x-for="character in initialParty">
						<bs:listItem tag="a" action class="child" x-bind:href="'#character_' + character.id"
						             x-data="{ retirement: false, newMember: false }">
							<th:block th:replace="~{:: character}"/>
						</bs:listItem>
					</template>
				</div>
			</template>

			<template x-for="campaignItem in campaignItems">
				<div style="display:contents;">
					<!-- SCENARIO -->
					<template x-if="campaignItem.scenario" x-data="{ get scenario() { return campaignItem.scenario } }">
						<bs:listItem tag="a" action x-bind:href="'#scenario_' + scenario.id">
							<div class="scenarioNumber questLine" x-bind:class="$store.uncapitalize(scenario.questLine)" x-jsz>
								{{Number(scenario.id).toString()}}
							</div>
							<strong x-jsz>{{scenario.name}}</strong>
						</bs:listItem>
					</template>

					<!-- EVENT -->
					<template x-if="campaignItem.event" x-data="{ get event() { return campaignItem.event } }">
						<bs:listItem tag="a" action x-bind:href="'#event_' + event.id" x-jsz>
							{{event.id}} · {{$store.typesAndSeasonsStrings[event.typeAndSeason]}} [[#{event.title}]]
						</bs:listItem>
					</template>

					<!-- OUTPOST PHASE -->
					<template x-if="campaignItem.outpostPhase" x-data="{ get outpostPhase() { return campaignItem.outpostPhase } }">
						<div style="display:contents">
							<bs:listItem tag="a" action x-bind:href="'#outpostPhase_' + outpostPhase.id" x-jsz>
								[[#{outpostPhase.title}]] #{{outpostPhase.id}}
							</bs:listItem>

							<!-- Town guard perks -->
							<template x-for="section in outpostPhase.townGuardPerks">
								<bs:listItem tag="a" action class="child" x-bind:href="'#section_' + section.htmlSafeId" x-jsz>
									{{section.id}} · {{section.title}}
								</bs:listItem>
							</template>

							<!-- Passage of time -->
							<template x-for="section in outpostPhase.passageOfTime">
								<bs:listItem tag="a" action class="child" x-bind:href="'#section_' + section.htmlSafeId" x-jsz>
									{{section.id}} · {{section.title}}
								</bs:listItem>
							</template>

							<!-- Outpost event -->
							<template x-if="outpostPhase.outpostEvent" x-data="{ get event() { return outpostPhase.outpostEvent } }">
								<bs:listItem tag="a" action class="child" x-bind:href="'#event_' + event.id" x-jsz>
									{{event.id}} · {{$store.typesAndSeasonsStrings[event.typeAndSeason]}} [[#{event.title}]]
								</bs:listItem>
							</template>

							<!-- Retirements -->
							<template x-for="character in outpostPhase.retirements">
								<bs:listItem tag="a" action class="child" x-bind:href="'#retirement_' + character.id"
								             x-data="{ retirement: true, newMember: false }">
									<th:block th:replace="~{:: character}"/>
								</bs:listItem>
							</template>

							<!-- New members -->
							<template x-for="character in outpostPhase.newMembers">
								<bs:listItem tag="a" action class="child" x-bind:href="'#character_' + character.id"
								             x-data="{ retirement: false, newMember: true }">
									<th:block th:replace="~{:: character}"/>
								</bs:listItem>
							</template>
						</div>
					</template>
				</div>
			</template>
		</bs:list>
	</div>


	<!-- --------- -->
	<!-- CHARACTER -->
	<!-- --------- -->
	<div th:fragment="character">
		<div class="iconWrapper">
			<img class="icon" x-bind:class="character.id" x-bind:src="$store.iconsUrl + '/' + character.id + '.png'">
		</div>
		<span x-jsz>{{character.fullName}}</span>
		<span x-show="retirement">[[#{character.retirement}]]</span>
		<span x-show="newMember">[[#{character.joining}]]</span>
	</div>


	<!-- -------------------- -->
	<!-- TABLE OF CONTENTS JS -->
	<!-- -------------------- -->
	<script th:fragment="campaignTableOfContentsJs" th:inline="javascript">
		window.addEventListener("load", function() {
			/* Always keep table of contents active element in view */
			document.body.addEventListener("activate.bs.scrollspy", () => {
				const scrollSpy = bootstrap.ScrollSpy.getInstance(document.body);
				const tableOfContents = document.getElementById("tableOfContents");
				const activeListGroupItem = tableOfContents.querySelector(".list-group-item.active"); 

				if (activeListGroupItem != null) {
					// Calculate position of activeListGroupItem relative to tableOfContents
					const activeListGroupItemPosition = activeListGroupItem.getBoundingClientRect().top - tableOfContents.getBoundingClientRect().top;

					if (activeListGroupItemPosition < 0) {
						tableOfContents.scrollTop = tableOfContents.scrollTop + activeListGroupItemPosition;
					}
					else if (activeListGroupItemPosition + activeListGroupItem.offsetHeight > tableOfContents.offsetHeight) {
						const heightDiff = tableOfContents.offsetHeight - activeListGroupItem.offsetHeight;
						tableOfContents.scrollTop = tableOfContents.scrollTop + activeListGroupItemPosition - heightDiff;
					}
				}
			});
		});
	</script>
</body>
</html>
