<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- -------- -->
	<!-- CAMPAIGN -->
	<!-- -------- -->
	<div th:fragment="campaign" id="campaign">
		<div id="personalStory">
			<!-- WELCOME -->
			<div th:if="${welcome}" id="welcome">
				<h1 class="title">[[#{welcome.title}]]</h1>
				<div class="text">[(${welcome})]</div>
			</div>

			<!-- PARTY -->
			<!-- TO-DO -->

			<template x-for="campaignItem in campaignItems">
				<div>
					<!-- SCENARIO -->
					<template x-if="campaignItem.scenario" x-data="{ get scenario() { return campaignItem.scenario } }">
						<th:block th:replace="~{fragments/scenario :: scenario}"/>
					</template>

					<!-- EVENT -->
					<!-- TO-DO -->

					<!-- OUTPOST PHASE -->
					<!-- TO-DO -->
				</div>
			</template>
		</div>
	</div>


	<!-- ----------- -->
	<!-- CAMPAIGN JS -->
	<!-- ----------- -->
	<script th:fragment="campaignJs" th:inline="javascript">
		// Only show back to top button if the user has scrolled down
		window.onscroll = function() {
			const backToTopButton = document.getElementById("backToTopButton");
			if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
				backToTopButton.classList.remove("d-none");
			}
			else backToTopButton.classList.add("d-none");
		};

		function backToTop() {
			console.log("backToTop()");
			// Safari
			document.body.scrollTop = 0;
			// Chrome, Firefox, IE and Opera
  			document.documentElement.scrollTop = 0; 
		}
	</script>
</body>
</html>