<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- --------- -->
	<!-- CHARACTER -->
	<!-- --------- -->
	<div th:fragment="character(character,initialParty)" th:object="${character}" th:id="|character_*{id}|" class="character">
		<!-- Title -->
		<h2 class="title titleSecondary">
			<img class="icon" th:classappend="*{id}" th:src="@{/img/icons/{id}.png(id=*{id})}">
			[[*{fullName}]]
			<th:block th:if="${!initialParty}"> [[#{character.joining}]]</th:block>
		</h2>

		<!-- Mat -->
		<div class="mat flippable" onclick="flip(event)">
			<div class="flippableInner">
				<div class="front">
					<img th:src="@{/img/characters/{id}.png(id=*{id})}">
				</div>
				<div class="back">
					<img th:src="@{/img/characters/{id}_back.png(id=*{id})}">
				</div>
			</div>
		</div>

		<!-- Background -->
		<div th:if="*{background}" class="background">
			[(*{background})]
		</div>
	</div>


	<!-- ---------- -->
	<!-- RETIREMENT -->
	<!-- ---------- -->
	<div th:fragment="retirement(character)" th:object="${character}" th:id="|retirement_*{id}|" class="character retirement">
		<!-- Title -->
		<h2 class="title titleSecondary">
			<img class="icon" th:classappend="*{id}" th:src="@{/img/icons/{id}.png(id=*{id})}">
			[[*{fullName}]] [[#{character.retirement}]]
		</h2>

		<!-- Personal quests -->
		<th:block th:if="*{personalQuest}">
			<th:block th:replace="~{:: personalQuest(*{personalQuest})}"></th:block>
		</th:block>
		<th:block th:if="*{additionalPersonalQuest}">
			<th:block th:replace="~{:: personalQuest(*{additionalPersonalQuest})}"></th:block>
		</th:block>

		<!-- Retirement section -->
		<th:block th:if="*{retirement}">
			<th:block th:replace="~{fragments/section :: section(*{retirement})}"></th:block>
		</th:block>
	</div>


	<!-- -------------- -->
	<!-- PERSONAL QUEST -->
	<!-- -------------- -->
	<div th:fragment="personalQuest(personalQuest)" th:object="${personalQuest}" th:id="|personalQuest_*{id}|" class="personalQuest">
		<!-- Card -->
		<div class="playingCard integrated">
			<img th:src="@{/img/personalQuests/{id}.png(id=*{id})}">
		</div>

		<!-- Title -->
		<h3 class="title titleSecondary">[[*{title}]]</h3>

		<!-- Description -->
		<div class="description">[[*{description}]]</div>
		<hr>

		<!-- Requirements -->
		<div class="requirements">[[*{requirements}]]</div>

		<!-- Rewards -->
		<div th:if="*{rewards}" class="card fhCard pqRewards">
			<div class="card-header">[[#{section.rewards}]]</div>
			<div class="card-body">
				[(*{rewards.envelope})] <i class="fa-solid fa-right-long mx-1"></i> [(*{rewards.building})]
			</div>
		</div>
	</div>
</body>
</html>