<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- --------- -->
	<!-- CHARACTER -->
	<!-- --------- -->
	<div th:fragment="character" x-bind:id="'character_' + character.id" class="character anchor">
		<!-- Title -->
		<h2 class="title titleSecondary">
			<img class="icon" x-bind:class="character.id" x-bind:src="$store.iconsUrl + '/' + character.id + '.png'">
			<span x-jsz>{{character.fullName}}</span>
			<span x-show="!initialParty">[[#{character.joining}]]</span>
		</h2>

		<!-- Mat -->
		<div class="mat flippable" x-data="{ flipped: false }" x-bind:class="{ 'flipped' : flipped }" @click="flipped = !flipped">
			<div class="flippableInner">
				<div class="front">
					<img x-bind:src="$store.imgUrl + '/characters/' + character.id + '.png'">
				</div>
				<div class="back">
					<img x-bind:src="$store.imgUrl + '/characters/' + character.id + '_back.png'">
				</div>
			</div>
		</div>

		<!-- Background -->
		<template x-if="character.background">
			<div class="background" x-jsz>
				{{character.background}}
			</div>
		</template>
	</div>


	<!-- ---------- -->
	<!-- RETIREMENT -->
	<!-- ---------- -->
	<div th:fragment="retirement" x-bind:id="'retirement_' + character.id" class="character retirement anchor">
		<!-- Title -->
		<h2 class="title titleSecondary">
			<img class="icon" x-bind:class="character.id" x-bind:src="$store.iconsUrl + '/' + character.id + '.png'">
			<span x-jsz>{{character.fullName}}</span>
			[[#{character.retirement}]]
		</h2>

		<!-- Personal quests -->
		<template x-if="character.personalQuest">
			<div x-data="{ get personalQuest() { return character.personalQuest } }">
				<th:block th:replace="~{:: personalQuest}"/>
			</div>
		</template>
		<template x-if="character.additionalPersonalQuest">
			<div x-data="{ get personalQuest() { return character.additionalPersonalQuest } }">
				<th:block th:replace="~{:: personalQuest}"/>
			</div>
		</template>

		<!-- Retirement section -->
		<template x-if="character.retirement">
			<div x-data="{ get section() { return character.retirement } }">
				<th:block th:replace="~{fragments/section :: section}"/>
			</div>
		</template>
	</div>


	<!-- -------------- -->
	<!-- PERSONAL QUEST -->
	<!-- -------------- -->
	<div th:fragment="personalQuest" x-bind:id="'personalQuest_' + personalQuest.id" class="personalQuest">
		<!-- Card -->
		<div class="playingCard integrated">
			<img x-bind:src="$store.imgUrl + '/personalQuests/' + personalQuest.id + '.png'">
		</div>

		<!-- Title -->
		<h3 class="title titleSecondary" x-jsz>{{personalQuest.title}}</h3>

		<!-- Description -->
		<div class="description" x-jsz>{{personalQuest.description}}</div>
		<hr>

		<!-- Requirements -->
		<div class="requirements" x-jsz>{{personalQuest.requirements}}</div>

		<!-- Rewards -->
		<bs:card class="fhCard pqRewards">
			<bs:cardHeader>[[#{section.rewards}]]</bs:cardHeader>
			<bs:cardBody x-data="{ building: personalQuest.unlockedBuilding == 'ALT' ? personalQuest.altBuilding : personalQuest.building }">
				[[#{personalQuest.openEnvelope}]]
				<img class="icon envelope" x-bind:src="$store.imgUrl + '/icons/envelope.png'">
				<span x-jsz>{{building.number}}</span>
				<i class="fa-solid fa-right-long mx-1"></i>
				[[#{personalQuest.unlockBuilding}]]
				<strong x-jsz>{{building.name}}</strong>
			</bs:cardBody>
		</bs:card>
	</div>
</body>
</html>