<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ----- -->
	<!-- EVENT -->
	<!-- ----- -->
	<div th:fragment="event" x-bind:id="'event_' + event.id" class="event anchor" x-data="eventData">
		<!-- Title -->
		<div class="title">
			<h1 class="title" x-jsz>
				<span class="titleSecondary">{{event.id}} ·</span>
				{{$store.typesAndSeasonsStrings[event.typeAndSeason]}}
				[[#{event.title}]]
			</h1>
			<!-- Unlocked by -->
			<template x-if="event.unlockedBy">
				<div x-data="{ get unlockedBy() { return event.unlockedBy } }">
					<th:block th:replace="~{fragments/common/unlockedBy :: unlockedBy}"/>
				</div>
			</template>
		</div>

		<!-- Card image -->
		<th:block th:replace="~{fragments/common/playingCard :: playingCard}"/>

		<!-- Text -->
		<div class="text" x-jsz>{{event.text}}</div>

		<!-- Options -->
		<div class="options">
			<template x-for="(chosenOptionId, index) in event.chosenOptionsIds" x-bind:key="chosenOptionId">
				<div x-data="{ option: event.options[chosenOptionId] }">
					<template x-if="option">
						<th:block th:replace="~{:: option}"/>
					</template>
				</div>
			</template>
		</div>

		<!-- Outpost attack -->
		<template x-if="!skipAttack">
			<div>
				<hr>
				<th:block th:replace="~{:: outpostAttack}"/>
			</div>
		</template>

		<!-- Random scenario section -->
		<template x-if="event.randomScenarioSection">
			<div x-data="{ section: event.randomScenarioSection }">
				<th:block th:replace="~{fragments/section :: section}"/>
			</div>
		</template>
	</div>


	<!-- ------ -->
	<!-- OPTION -->
	<!-- ------ -->
	<div th:fragment="option" class="option">
		<!-- Trigger -->
		<div class="trigger" x-show="index == 0">
			<i class="fa-solid fa-angles-right fa-sm"></i>
			<strong>[[#{event.option}]]<span x-show="option.id" x-jsz> {{option.id}}</span>:</strong>
			<span x-jsz>{{option.trigger}}</span>
		</div>

		<!-- Text -->
		<div class="text">
			<template x-if="option.requirement">
				<div x-jsz>{{option.requirement}}: {{option.text}}</div>
			</template>
			<template x-if="!option.requirement">
				<div x-jsz>{{option.text}}</div>
			</template>
		</div>

		<!-- Rewards -->
		<template x-if="option.rewards">
			<div class="rewards" x-data="{ rewards: option.rewards }">
				<th:block th:replace="~{fragments/rewards :: rewardsBody}"/>
			</div>
		</template>
	</div>


	<!-- -------------- -->
	<!-- OUTPOST ATTACK -->
	<!-- -------------- -->
	<div th:fragment="outpostAttack" class="outpostAttack">
		<!-- Attack -->
		<bs:flex align="center">
			<div class="attack" x-jsz>
				<img class="icon" th:src="@{__${imgUrl}__/icons/attack.png}">
				{{event.outpostAttack.attack}}
			</div>
			<div class="target" x-jsz>
				<img class="icon" th:src="@{__${imgUrl}__/icons/target.png}">
				{{event.outpostAttack.target}}
			</div>
			<div class="targetPriority" x-jsz>
				{{event.outpostAttack.targetPriority}}
			</div>
		</bs:flex>
		
		<!-- Text -->
		<div class="text" x-jsz>
			{{event.outpostAttack.text}}
		</div>

		<!-- Rewards -->
		<template x-if="event.outpostAttack.rewards">
			<div class="rewards" x-data="{ rewards: event.outpostAttack.rewards }">
				<th:block th:replace="~{fragments/rewards :: rewardsBody}"/>
			</div>
		</template>
	</div>


	<!-- -------- -->
	<!-- EVENT JS -->
	<!-- -------- -->
	<script th:fragment="eventJs" th:inline="javascript">
		document.addEventListener("alpine:init", () => {
			Alpine.data("eventData", () => ({
				get frontImgSrc() { return this.$store.imgUrl + "/events/" + this.event.typeAndSeason + "/" + this.event.id + ".png" },
				get backImgSrc() { return this.$store.imgUrl + "/events/" + this.event.typeAndSeason + "/" + this.event.id + "_back.png" },

				get skipAttack() {
					if (!this.event.outpostAttack || !this.event.chosenOptionsIds || this.event.chosenOptionsIds.length == 0) return true;
					for (let chosenOptionId of this.event.chosenOptionsIds) {
						const chosenOption = this.event.options[chosenOptionId];
						if (chosenOption?.skipAttack) return true;
					}
					return false;
				}
			}));
		});
	</script>
</body>
</html>