<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ----- -->
	<!-- EVENT -->
	<!-- ----- -->
	<div th:fragment="event(event)" th:object="${event}" th:id="|event_*{id}|" class="event">
		<!-- Title -->
		<div class="title">
			<h1 class="title">
				<span class="titleSecondary">[[*{id}]] ·</span> [[*{typeAndSeason}]] [[#{event.title}]]
			</h1>
			<th:block th:if="*{unlockedBy}">
				<th:block th:replace="~{fragments/frosthaven :: unlockedBy(*{unlockedBy})}"/>
			</th:block>
		</div>

		<!-- Card -->
		<th:block th:replace="~{fragments/frosthaven :: playingCard(true,
		    @{__${imgUrl}__/events/{typeAndSeason}/{id}.png(typeAndSeason=*{typeAndSeason.name()},id=*{id})},
		    @{__${imgUrl}__/events/{typeAndSeason}/{id}_back.png(typeAndSeason=*{typeAndSeason.name()},id=*{id})})}">
		</th:block>

		<!-- Text -->
		<div class="text">[(*{text})]</div>

		<!-- Options -->
		<div th:if="*{!#lists.isEmpty(chosenOptions)}" class="options">
			<th:block th:each="chosenOptionId,iterStat : *{chosenOptions}" th:with="chosenOption = *{options['__${chosenOptionId}__']}">
				<th:block th:if="${chosenOption}">
					<th:block th:replace="~{:: option(${chosenOption},${iterStat.first})}"/>
				</th:block>
			</th:block>
		</div>

		<!-- Outpost attack -->
		<th:block th:if="*{!skipAttack}">
			<hr>
			<th:block th:replace="~{:: outpostAttack(*{outpostAttack})}"/>
		</th:block>

		<!-- Random scenario section -->
		<th:block th:if="*{randomScenarioSection}">
			<th:block th:replace="~{fragments/section :: section(*{randomScenarioSection})}"/>
		</th:block>
	</div>


	<!-- ------ -->
	<!-- OPTION -->
	<!-- ------ -->
	<div th:fragment="option(option,showTrigger)" th:object="${option}" class="option">
		<!-- Trigger -->
		<div th:if="${showTrigger}" class="trigger">
			<i class="fa-solid fa-angles-right fa-sm"></i>
			<strong>[[#{event.option}]]<span th:if="*{!#strings.isEmpty(id)}"> [[*{id}]]</span>:</strong>
			[(*{trigger})]
		</div>

		<!-- Text -->
		<div class="text">
			<span th:if="*{requirement}">[(*{requirement})]: </span>[(*{text})]
		</div>

		<!-- Rewards -->
		<div class="rewards">
			<th:block th:replace="~{fragments/rewards :: rewardsBody(*{rewards})}"></th:block>
		</div>
	</div>


	<!-- -------------- -->
	<!-- OUTPOST ATTACK -->
	<!-- -------------- -->
	<div th:fragment="outpostAttack(outpostAttack)" th:object="${outpostAttack}" class="outpostAttack">
		<!-- Attack -->
		<div bs:flex bs:flexAlign="center">
			<div class="attack">
				<img class="icon" th:src="@{__${imgUrl}__/icons/attack.png}">
				[[*{attack}]]
			</div>
			<div class="target">
				<img class="icon" th:src="@{__${imgUrl}__/icons/target.png}">
				[[*{target}]]
			</div>
			<div class="targetPriority">
				[[*{targetPriority}]]
			</div>
		</div>
		
		<!-- Text -->
		<div class="text">
			[[*{text}]]
		</div>

		<!-- Rewards -->
		<div class="rewards">
			<th:block th:replace="~{fragments/rewards :: rewardsBody(*{rewards})}"></th:block>
		</div>
	</div>


	<!-- ---------- -->
	<!-- EVENT FORM -->
	<!-- ---------- -->
	<form th:fragment="eventForm" id="eventForm" th:action="@{/event}" method="post">
		<bs:card>
			<bs:cardBody>
				<div>
					<bs:label for="inputEventId">[[#{event.id}]]</bs:label>
					<bs:input type="text" id="inputEventId" name="eventId" th:value="${eventId}" required/>
				</div>
				<div>
					<bs:label for="inputChosenOptions">[[#{event.chosenOptions}]]</bs:label>
					<bs:input type="text" id="inputChosenOptions" name="chosenOptions"
					          th:value="${#strings.listJoin(event?.chosenOptions, ',')}"/>
					<div th:if="${event}" bs:formText>[[#{event.availableOptions}]]: [[${event.options.keySet()}]]</div>
				</div>
				<div bs:display="grid">
					<bs:button type="submit" color="primary">[[#{event.goTo}]]</bs:button>
				</div>
			</bs:cardBody>
		</bs:card>
	</form>
</body>
</html>