<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ---------- -->
	<!-- EVENT FORM -->
	<!-- ---------- -->
	<form th:fragment="eventForm" x-data="eventFormData(eventId, chosenOptionsIds)">
		<bs:card>
			<bs:cardBody>
				<div>
					<bs:label for="inputEventId">[[#{event.id}]]</bs:label>
					<bs:select id="inputEventId" name="eventId" required></bs:select>
				</div>
				<div>
					<bs:label for="inputChosenOptions">[[#{event.chosenOptions}]]</bs:label>
					<bs:select id="inputChosenOptions" name="chosenOptions" multiple></bs:select>
				</div>
			</bs:cardBody>
		</bs:card>
	</form>


	<!-- ------------- -->
	<!-- EVENT FORM JS -->
	<!-- ------------- -->
	<script th:fragment="eventFormJs" th:inline="javascript">
		document.addEventListener("alpine:init", () => {
			Alpine.data("eventFormData", (eventId, chosenOptionsIds) => ({
				eventsMap: /*[[${eventsMap}]]*/ {},

				// Inputs
				eventIdSelect: null,
				chosenOptionsSelect: null,

				init() {
					this.eventIdSelect = new TomSelect("#inputEventId", {
						options: Object.keys(this.eventsMap).toSorted().map(eventId => ({ value: eventId, text: eventId })),
						items: eventId,
						onChange: newEventId => {
							this.$dispatch("changed-event-id", newEventId);
							this.fillChosenOptionsSelect(newEventId);
						},
						maxOptions: null
					});
					this.chosenOptionsSelect = new TomSelect("#inputChosenOptions", {
						onChange: newChosenOptionsIds => this.$dispatch("changed-chosen-options", newChosenOptionsIds),
						plugins: ["remove_button"],
						closeAfterSelect: true
					});

					this.fillChosenOptionsSelect(eventId, chosenOptionsIds);
				},

				fillChosenOptionsSelect(selectedEventId, selectedChosenOptionsIds) {
					log.entry(selectedEventId, selectedChosenOptionsIds);
					this.chosenOptionsSelect.clear();
					this.chosenOptionsSelect.clearOptions();

					const selectedEvent = this.eventsMap[selectedEventId];
					if (selectedEvent) {
						this.chosenOptionsSelect.addOptions(Object.keys(selectedEvent.options).map(key => ({ value: key, text: key })));
						this.chosenOptionsSelect.addItems(selectedChosenOptionsIds);
					}
					log.exit();
				}
			}));
		});
	</script>
</body>
</html>