<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ---------- -->
	<!-- EVENT FORM -->
	<!-- ---------- -->
	<form th:fragment="eventForm" id="eventForm" th:action="@{/event}" method="post">
		<bs:card>
			<bs:cardBody>
				<div>
					<bs:label for="inputEventId">[[#{event.id}]]</bs:label>
					<bs:select id="inputEventId" name="eventId" required>
						<option th:each="eventId: ${allEventsIds}" th:value="${eventId}" th:selected="${eventId} == ${rawEvent?.id}">
							[[${eventId}]]
						</option>
					</bs:select>
				</div>
				<div>
					<bs:label for="inputChosenOptions">[[#{event.chosenOptions}]]</bs:label>
					<bs:select id="inputChosenOptions" name="chosenOptions" multiple>
						<option th:each="optionId: ${rawEvent?.options?.keySet()}" th:value="${optionId}">
							[[${optionId}]]
						</option>
					</bs:select>
				</div>
				<div bs:display="grid">
					<bs:button type="submit" color="primary">[[#{event.goTo}]]</bs:button>
				</div>
			</bs:cardBody>
		</bs:card>
	</form>


	<!-- ------------- -->
	<!-- EVENT FORM JS -->
	<!-- ------------- -->
	<script th:fragment="eventFormJs" th:inline="javascript">
		new TomSelect("#inputEventId", { maxOptions: null });
		const chosenOptionsIds = /*[[${#strings.listSplit(param.chosenOptions, ',')}]]*/ [];
		new TomSelect("#inputChosenOptions", { items: chosenOptionsIds });
	</script>
</body>
</html>