<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ----------- -->
	<!-- UNLOCKED BY -->
	<!-- ----------- -->
	<div th:fragment="unlockedBy(unlockedBy)" class="subtitle">
		<i class="fa-solid fa-unlock me-1"></i> Unlocked by:
		<th:block th:each="unlockedByItem,iterStat : ${unlockedBy}" th:object="${unlockedByItem}">
			<th:block th:if="${!iterStat.first}">|</th:block>
			<!-- Same page links (campaign page) -->
			<th:block th:if="${page?.name() == 'CAMPAIGN'}">
				<a th:if="*{event}" class="link-secondary" th:href="|#event_*{event.id}|">Event [[*{event.id}]]</a>
				<a th:if="*{scenario}" class="link-secondary" th:href="|#scenario_*{scenario.id}|">Scenario [[*{scenario.id}]]</a>
				<a th:if="*{section}" class="link-secondary" th:href="|#section_*{section.htmlSafeId}|">Section [[*{section.id}]]</a>
				<span th:if="*{other}">[[*{other}]]</span>
			</th:block>
			<!-- Other page links -->
			<th:block th:if="${page?.name() != 'CAMPAIGN'}">
				<a th:if="*{event}" class="link-secondary" th:href="@{/event/{id}(id=*{event.id})}">Event [[*{event.id}]]</a>
				<a th:if="*{scenario}" class="link-secondary" th:href="@{/scenario/{id}(id=*{scenario.id})}">Scenario [[*{scenario.id}]]</a>
				<a th:if="*{section}" class="link-secondary" th:href="@{/section/{id}(id=*{section.id})}">Section [[*{section.id}]]</a>
				<span th:if="*{other}">[[*{other}]]</span>
			</th:block>
		</th:block>
	</div>


	<!-- ------------ -->
	<!-- PLAYING CARD -->
	<!-- ------------ -->
	<div th:fragment="playingCard(integrated,frontSrc,backSrc)" onclick="flip(event)"
	     class="playingCard flippable" th:classappend="${integrated} ? integrated">
		<div class="flippableInner">
			<div th:if="${frontSrc}" class="front">
				<img th:src="${frontSrc}">
			</div>
			<div class="back">
				<img th:src="${backSrc}">
			</div>
		</div>
	</div>


	<!-- --------------- -->
	<!-- PLAYING CARD JS -->
	<!-- --------------- -->
	<script th:fragment="playingCardJs" id="playingCardJs" th:inline="javascript">
		function flip(event) {
			const flippableElement = event.currentTarget;
			flippableElement.classList.toggle("flipped");
		}
	</script>
</body>
</html>