<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ----------- -->
	<!-- UNLOCKED BY -->
	<!-- ----------- -->
	<div th:fragment="unlockedBy(unlockedBy)" th:object="${unlockedBy}" class="subtitle">
		<i class="fa-solid fa-unlock me-1"></i> Unlocked by:
		<a th:if="*{scenario}" class="link-secondary" th:href="|#scenario_*{scenario.id}|">
			Scenario [[*{scenario.id}]]
		</a>
		<a th:if="*{event}" class="link-secondary" th:href="|#event_*{event.id}|">
			Event [[*{event.id}]]
		</a>
	</div>
</body>
</html>