<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ------------- -->
	<!-- OUTPOST PHASE -->
	<!-- ------------- -->
	<div th:fragment="outpostPhase(outpostPhase)" th:object="${outpostPhase}" th:id="|outpostPhase_*{id}|" class="outpostPhase">
		<!-- TITLE -->
		<h1 class="title">
			[[#{outpostPhase.title}]] <span class="titleSecondary">#[[*{id}]]</span>
		</h1>

		<!-- PASSAGE OF TIME -->
		<th:block th:each="section : *{passageOfTime}">
			<th:block th:replace="~{fragments/section :: section(${section})}"></th:block>
		</th:block>

		<!-- OUTPOST EVENT -->
		<th:block th:if="*{outpostEvent}">
			<th:block th:replace="~{fragments/event :: event(*{outpostEvent})}"></th:block>
		</th:block>

		<!-- LEVEL UPS -->
		<div th:if="*{levelUps}" class="levelUps">
			<h2 class="title">[[#{outpostPhase.levelUps.title}]]</h2>
			<div th:each="character : *{levelUps}" th:object="${character}">
				[(#{outpostPhase.levelUps.text(*{fullName},*{level})})]
			</div>
		</div>

		<!-- RETIREMENTS -->
		<th:block th:each="character : *{retirements}">
			<th:block th:replace="~{fragments/character :: retirement(${character})}"></th:block>
		</th:block>

		<!-- NEW MEMBERS -->
		<th:block th:each="character : *{newMembers}">
			<th:block th:replace="~{fragments/character :: character(${character},false)}"></th:block>
		</th:block>
		
		<!-- CONSTRUCTION (BUILD & UPGRADE) -->
		<div th:if="*{!#lists.isEmpty(build) || !#lists.isEmpty(upgrade)}" class="construction">
			<h2 class="title">[[#{outpostPhase.construction.title}]]</h2>
			<!-- Build -->
			<div class="build">
				<div th:each="building : *{build}" th:object="${building}" th:with="level = *{levels['__*{level}__']}" class="building">
					<div class="text">
						<th:block th:if="*{level}">[(#{outpostPhase.construction.build.textWithLevel(*{name},*{level})})]</th:block>
						<th:block th:unless="*{level}">[(#{outpostPhase.construction.build.textWithoutLevel(*{name})})]</th:block>
					</div>
					<div class="playingCards">
						<div th:class="*{level != 0} ? playingCard">
							<img th:with="imgName = *{id} + *{level != 0 ? '_' + level : ''}"
								th:class="${imgName}" th:src="@{/img/buildings/__${imgName}__.png}">
						</div>
					</div>

					<!-- Section -->
					<th:block th:if="${level?.builtSection}">
						<th:block th:replace="~{fragments/section :: section(${level.builtSection})}"></th:block>
					</th:block>
				</div>
			</div>
			
			<!-- Upgrade -->
			<div class="upgrade">
				<div th:each="building : *{upgrade}" th:object="${building}" th:with="level = *{levels['__*{level}__']}" class="building">
					<div class="text">
						[(#{outpostPhase.construction.upgrade.text(*{name},*{level})})]
					</div>
					<div class="playingCards">
						<div class="playingCard">
							<img th:with="imgName = *{id} + '_' + *{level - 1}" th:src="@{/img/buildings/__${imgName}__.png}">
						</div>
						<i class="fa-solid fa-right-long fa-2xl mx-4"></i>
						<div class="playingCard">
							<img th:with="imgName = *{id} + '_' + *{level}" th:src="@{/img/buildings/__${imgName}__.png}">
						</div>
					</div>

					<!-- Section -->
					<th:block th:if="${level?.builtSection}">
						<th:block th:replace="~{fragments/section :: section(${level.builtSection})}"></th:block>
					</th:block>
				</div>
			</div>
		</div>
	</div>
</body>
</html>