<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ------- -->
	<!-- REWARDS -->
	<!-- ------- -->
	<bs:card th:fragment="rewards(rewards)" class="fhCard rewards">
		<bs:cardHeader>[[#{section.rewards}]]</bs:cardHeader>
		<bs:cardBody>
			<div th:fragment="rewardsBody" class="rewardsBody">
				<!-- Text -->
				<template x-if="rewards.text">
					<div class="fw-bold" x-jsz>{{rewards.text}}</div>
				</template>

				<!-- New events -->
				<template x-if="rewards.events">
					<div>
						[[#{section.rewards.newEvents}]]:
						<br/>
						<template x-for="typeAndSeason in typesAndSeasons">
							<div x-data="rewardsEventsData(rewards.events[typeAndSeason])">
								<th:block th:replace="~{:: rewardsEvents}"/>
							</div>
						</template>
					</div>
				</template>

				<!-- Removed events -->
				<template x-if="rewards.removedEvents">
					<div>
						[[#{section.rewards.removedEvents}]]:
						<br/>
						<template x-for="typeAndSeason in typesAndSeasons">
							<div x-data="rewardsEventsData(rewards.removedEvents[typeAndSeason])">
								<th:block th:replace="~{:: rewardsEvents}"/>
							</div>
						</template>
					</div>
				</template>

				<!-- New scenarios -->
				<template x-if="rewards.scenarios">
					<div>
						[[#{section.rewards.newScenarios}]]:
						<br/>
						<div x-data="rewardsScenariosData(rewards.scenarios)">
							<th:block th:replace="~{:: rewardsScenarios}"/>
						</div>
					</div>
				</template>

				<!-- Locked out scenarios -->
				<template x-if="rewards.lockedOutScenarios">
					<div>
						[[#{section.rewards.lockedOutScenarios}]]:
						<br/>
						<div x-data="rewardsScenariosData(rewards.lockedOutScenarios)">
							<th:block th:replace="~{:: rewardsScenarios}"/>
						</div>
					</div>
				</template>
			</div>
		</bs:cardBody>
	</bs:card>


	<!-- -------------- -->
	<!-- REWARDS EVENTS -->
	<!-- -------------- -->
	<th:block th:fragment="rewardsEvents">
		<template x-if="events?.length > 0">
			<div>
				<strong x-jsz>{{events.map(event => event.id).join(", ")}}</strong>
				<span x-jsz>({{typeAndSeason}})</span>
			</div>
		</template>
	</th:block>


	<!-- ----------------- -->
	<!-- REWARDS SCENARIOS -->
	<!-- ----------------- -->
	<th:block th:fragment="rewardsScenarios">
		<template x-for="scenario in scenarios">
			<div>
				<strong x-jsz>{{scenario.name}}</strong>
				<span class="scenarioNumber" x-jsz>({{scenario.id}})</span>
				<img x-show="scenario.linked" class="icon linked" th:src="@{__${imgUrl}__/icons/linked.png}">
				<img x-show="scenario.forceLinked" class="icon forceLinked" th:src="@{__${imgUrl}__/icons/forceLinked.png}">
			</div>
		</template>
	</th:block>


	<!-- ---------- -->
	<!-- REWARDS JS -->
	<!-- ---------- -->
	<script th:fragment="rewardsJs" th:inline="javascript">
		document.addEventListener("alpine:init", () => {
			Alpine.data("rewardsData", (rewards) => ({
				rewards: rewards,
				typesAndSeasons: ["B", "SO", "SR", "WO", "WR"]
			}));
		});

		document.addEventListener("alpine:init", () => {
			Alpine.data("rewardsEventsData", (events) => ({
				events: events
			}));
		});

		document.addEventListener("alpine:init", () => {
			Alpine.data("rewardsScenariosData", (scenarios) => ({
				scenarios: scenarios
			}));
		});
	</script>
</body>
</html>