<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ------- -->
	<!-- REWARDS -->
	<!-- ------- -->
	<bs:card th:fragment="rewards(rewards)" class="fhCard rewards">
		<bs:cardHeader>[[#{section.rewards}]]</bs:cardHeader>
		<bs:cardBody th:fragment="rewardsBody(rewards)" th:object="${rewards}">
			<!-- Text -->
			<div th:if="*{text}" class="fw-bold">
				[(*{text})]
			</div>

			<!-- New events -->
			<div th:if="*{!#maps.isEmpty(events)}">
				[[#{section.rewards.newEvents}]]:
				<br/>
				<th:block th:replace="~{:: rewardsEvents(*{events['SO']}, #{section.rewards.newEvents.SO})}"></th:block>
				<th:block th:replace="~{:: rewardsEvents(*{events['SR']}, #{section.rewards.newEvents.SR})}"></th:block>
				<th:block th:replace="~{:: rewardsEvents(*{events['WO']}, #{section.rewards.newEvents.WO})}"></th:block>
				<th:block th:replace="~{:: rewardsEvents(*{events['WR']}, #{section.rewards.newEvents.WR})}"></th:block>
				<th:block th:replace="~{:: rewardsEvents(*{events['B']}, #{section.rewards.newEvents.B})}"></th:block>
			</div>

			<!-- New scenarios -->
			<div th:if="*{!#lists.isEmpty(scenarios)}">
				[[#{section.rewards.newScenarios}]]:
				<br/>
				<th:block th:replace="~{:: rewardsScenarios(*{scenarios})}"></th:block>
			</div>

			<!-- Locked out scenarios -->
			<div th:if="*{!#lists.isEmpty(lockedOutScenarios)}">
				[[#{section.rewards.lockedOutScenarios}]]:
				<br/>
				<th:block th:replace="~{:: rewardsScenarios(*{lockedOutScenarios})}"></th:block>
			</div>
		</bs:cardBody>
	</bs:card>


	<!-- -------------- -->
	<!-- REWARDS EVENTS -->
	<!-- -------------- -->
	<th:block th:fragment="rewardsEvents(eventsList,seasonAndTypeString)">
		<th:block th:if="${!#lists.isEmpty(eventsList)}">
			<strong th:each="event,iterStat : ${eventsList}">
				[[${event.id}]]<th:block th:if="${!iterStat.last}">, </th:block>
			</strong>
			([[${seasonAndTypeString}]])
			<br/>
		</th:block>
	</th:block>


	<!-- ----------------- -->
	<!-- REWARDS SCENARIOS -->
	<!-- ----------------- -->
	<th:block th:fragment="rewardsScenarios(scenariosList)">
		<th:block th:each="scenario : ${scenariosList}">
			<strong>[[${scenario.name}]]</strong>
			<span class="scenarioNumber">([[${#numbers.formatInteger(scenario.id,1)}]])</span>
			<img th:if="${scenario.linked}" class="icon linked" th:src="@{/img/icons/linked.png}">
			<img th:if="${scenario.forceLinked}" class="icon forceLinked" th:src="@{/img/icons/forceLinked.png}">
			<br/>
		</th:block>
	</th:block>
</body>
</html>