<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ------------- -->
	<!-- SCENARIO FORM -->
	<!-- ------------- -->
	<form th:fragment="scenarioForm" id="scenarioForm" x-data="scenarioFormData(scenarioId, scenarioPath)">
		<bs:card>
			<bs:cardBody>
				<!-- Scenario ID -->
				<div>
					<bs:label for="inputScenarioId">[[#{scenario.id}]]</bs:label>
					<bs:select id="inputScenarioId" name="scenarioId" required></bs:select>
				</div>

				<!-- Path -->
				<template x-if="scenarioPath.length > 0">
					<div>
						<bs:flex align="baseline" bs:gap="2">
							<bs:label>[[#{scenario.path}]]</bs:label>
							<bs:button color="outline-secondary" size="sm" bs:py="0" bs:mb="2" @click="clearScenarioPath()">
								[[#{scenario.path.clear}]]
							</bs:button>
						</bs:flex>
						<template x-for="(scenarioPathItem,index) in scenarioPath" x-bind:key="scenarioPathItem">
							<div bs:textAlign="center">
								<div x-show="index != 0" bs:py="1">
									<i class="fa-solid fa-arrow-down-long"></i>
								</div>
								<div x-jsz>
									{{ scenarioSections[scenarioPathItem].trigger }}
									<strong>({{ scenarioPathItem }})</strong>
								</div>
							</div>
						</template>
					</div>
				</template>

				<!-- Next section -->
				<template x-if="availableSectionsIds.length > 0">
					<div>
						<bs:label>[[#{scenario.nextSection}]]</bs:label>
						<bs:flex direction="column" bs:gap="2">
							<template x-for="availableSectionId in availableSectionsIds" x-bind:key="availableSectionId">
								<div bs:textAlign="center">
									<bs:button color="info" size="sm" x-jsz @click="addSectionToPath(availableSectionId)">
										<i class="fa-solid fa-arrow-right" bs:me="1"></i>
										{{ scenarioSections[availableSectionId].trigger }}
										<strong>({{ availableSectionId }})</strong>
									</bs:button>
								</div>
							</template>
						</bs:flex>
					</div>
				</template>
			</bs:cardBody>
		</bs:card>
	</form>


	<!-- ---------------- -->
	<!-- SCENARIO FORM JS -->
	<!-- ---------------- -->
	<script th:fragment="scenarioFormJs" th:inline="javascript">
		document.addEventListener("alpine:init", () => {
			Alpine.data("scenarioFormData", (initialScenarioId, initialScenarioPath) => ({
				scenarioId: null,
				scenarioPath: [],

				scenarioSections: {},
				scenarioSectionsUnlockCount: {},
				initialAvailableSectionsIds: [],
				availableSectionsIds: [],

				init() {
					// Watchers
					this.$watch("scenarioId", () => {
						this.$dispatch("changed-scenario-id", this.scenarioId);
						this.setupScenarioSections(this.scenarioId);
					});
					this.$watch("scenarioPath", () => this.$dispatch("changed-scenario-path", this.scenarioPath));

					// Scenario ID select setup
					this.scenarioIdSelect = new TomSelect("#inputScenarioId", {
						options: Object.entries(this.$store.frosthaven.scenariosMap).toSorted().map(([scenarioId, scenario]) =>
							({ value: scenarioId, text: scenarioId + ' · ' + scenario.name })
						),
						items: initialScenarioId,
						onChange: newScenarioId => this.scenarioId = newScenarioId,
						maxOptions: null
					});

					this.setupScenarioSections(initialScenarioId, initialScenarioPath);
				},

				// Setup all variables. Function called every time the scenario changes
				setupScenarioSections(selectedScenarioId, selectedScenarioPath) {
					log.entry();
					this.clearScenarioPath();
					const selectedScenario = this.$store.frosthaven.scenariosMap[selectedScenarioId];
					if (selectedScenario) {
						this.scenarioSections = { ...selectedScenario.sections };
						this.initialAvailableSectionsIds = [...selectedScenario.availableSections];
						this.availableSectionsIds = [...selectedScenario.availableSections];

						const scenarioPath = selectedScenarioPath ?? selectedScenario.path;
						for (scenarioPathItem of scenarioPath) {
							this.addSectionToPath(scenarioPathItem);
						}
					}
					log.exit();
				},

				clearScenarioPath() {
					log.entry();
					this.scenarioPath = [];
					this.scenarioSectionsUnlockCount = {};
					this.availableSectionsIds = [...this.initialAvailableSectionsIds];
					log.exit();
				},

				addSectionToPath(sectionId) {
					log.entry(sectionId);
					this.scenarioPath.push(sectionId);
					this.computeAvailableSections(sectionId);
					log.exit();
				},

				computeAvailableSections(sectionId) {
					log.entry(sectionId);
					const section = this.scenarioSections[sectionId];
					// Remove current section and locked out sections
					this.availableSectionsIds = this.availableSectionsIds.filter(availableSectionId => {
						if (availableSectionId == sectionId) return false;
						if (section.lockedOutSections.includes(availableSectionId)) return false;
						return true;
					});
					// Add unlocked sections
					for (unlockedSectionId of section.unlockedSections) {
						this.scenarioSectionsUnlockCount[unlockedSectionId] = (this.scenarioSectionsUnlockCount[unlockedSectionId] ?? 0) + 1;
						const unlockedSection = this.scenarioSections[unlockedSectionId];
						if (this.scenarioSectionsUnlockCount[unlockedSectionId] >= unlockedSection.unlockCount) {
							this.availableSectionsIds.push(unlockedSection.id);
						}
					}
					log.exit();
				},
			}));
		});
	</script>
</body>
</html>