<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ------------- -->
	<!-- SCENARIO FORM -->
	<!-- ------------- -->
	<form th:fragment="scenarioForm" id="scenarioForm" x-data="scenarioFormData(scenarioId, scenarioPath)">
		<bs:card>
			<bs:cardBody>
				<!-- Scenario ID -->
				<div>
					<bs:label for="inputScenarioId">[[#{scenario.id}]]</bs:label>
					<bs:select id="inputScenarioId" name="scenarioId" required></bs:select>
				</div>

				<!-- Path -->
				<template x-if="scenarioPath.length > 0">
					<div>
						<bs:flex align="baseline" bs:gap="2">
							<bs:label>[[#{scenario.path}]]</bs:label>
							<bs:button color="outline-secondary" size="sm" bs:py="0" bs:mb="2" @click="clearScenarioPath()">
								[[#{scenario.path.clear}]]
							</bs:button>
						</bs:flex>
						<template x-for="(scenarioPathItem,index) in scenarioPath">
							<div bs:textAlign="center">
								<div x-show="index != 0" bs:py="1">
									<i class="fa-solid fa-arrow-down-long"></i>
								</div>
								<div x-jsz>
									{{ scenarioSections[scenarioPathItem].trigger }}
									<strong>({{ scenarioPathItem }})</strong>
								</div>
							</div>
						</template>
					</div>
				</template>

				<!-- Next section -->
				<template x-if="availableSections.length > 0">
					<div>
						<bs:label>[[#{scenario.nextSection}]]</bs:label>
						<bs:flex direction="column" bs:gap="2">
							<template x-for="availableSection in availableSections">
								<div bs:textAlign="center">
									<bs:button color="info" size="sm" x-jsz @click="addSectionToPath(availableSection)">
										<i class="fa-solid fa-arrow-right" bs:me="1"></i>
										{{ scenarioSections[availableSection].trigger }}
										<strong>({{ availableSection }})</strong>
									</bs:button>
								</div>
							</template>
						</bs:flex>
					</div>
				</template>
			</bs:cardBody>
		</bs:card>
	</form>


	<!-- ---------------- -->
	<!-- SCENARIO FORM JS -->
	<!-- ---------------- -->
	<script th:fragment="scenarioFormJs" th:inline="javascript">
		document.addEventListener("alpine:init", () => {
			Alpine.data("scenarioFormData", (scenarioId, scenarioPath) => ({
				scenarioIdSelect: null,

				scenarioSections: {},
				initialAvailableSections: [],
				availableSections: [],
				scenarioPath: [],

				init() {
					this.scenarioIdSelect = new TomSelect("#inputScenarioId", {
						options: Object.entries(this.$store.frosthaven.scenariosMap).toSorted().map(([scenarioId, scenario]) =>
							({ value: scenarioId, text: scenarioId + ' · ' + scenario.name })
						),
						items: scenarioId,
						onChange: newScenarioId => {
							this.$dispatch("changed-scenario-id", newScenarioId);
							this.setupScenarioSections(newScenarioId);
						},
						maxOptions: null
					});
					this.$watch("scenarioPath", () => this.$dispatch("changed-scenario-path", this.scenarioPath));

					this.setupScenarioSections(scenarioId, scenarioPath);
				},

				setupScenarioSections(selectedScenarioId, selectedScenarioPath) {
					log.entry();
					this.clearScenarioPath();
					const selectedScenario = this.$store.frosthaven.scenariosMap[selectedScenarioId];
					if (selectedScenario) {
						this.scenarioSections = selectedScenario.sections;
						this.initialAvailableSections = selectedScenario.availableSections;
						this.availableSections = selectedScenario.availableSections;
						const scenarioPath = selectedScenarioPath ?? selectedScenario.path;
						for (scenarioPathItem of scenarioPath) {
							this.addSectionToPath(scenarioPathItem);
						}
					}
					log.exit();
				},

				clearScenarioPath() {
					log.entry();
					this.scenarioPath = [];
					this.availableSections = this.initialAvailableSections;
					log.exit();
				},

				addSectionToPath(sectionId) {
					log.entry(sectionId);
					this.scenarioPath.push(sectionId);
					this.computeAvailableSections(sectionId);
					log.exit();
				},

				computeAvailableSections(sectionId) {
					log.entry(sectionId);
					const section = this.scenarioSections[sectionId];
					this.availableSections = this.availableSections.filter(availableSection => {
						availableSection !== sectionId && !section.lockedOutSections.includes(availableSection);
					});
					this.availableSections.push(...section.unlockedSections);
					log.exit();
				},
			}));
		});
	</script>
</body>
</html>