<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- -------- -->
	<!-- SCENARIO -->
	<!-- -------- -->
	<div th:fragment="scenario(scenario)" th:object="${scenario}" th:id="|scenario_*{id}|" class="scenario">
		<!-- Title -->
		<div class="title">
			<h1 class="mb-0">
				<span class="number">[[*{#numbers.formatInteger(id,1)}]] ·</span> [[*{name}]]
				<img th:if="*{requirement}" class="requirement" th:src="@{/img/icons/__*{#strings.toLowerCase(requirement)}__.png}">
			</h1>
			<th:block th:if="*{unlockedBy}">
				<th:block th:replace="~{fragments/campaign :: unlockedBy(*{unlockedBy})}"></th:block>
			</th:block>
			<div th:if="*{location}" class="location">
				<i class="fa-solid fa-map-location me-1"></i> [[*{location}]]
			</div>
		</div>

		<!-- Scenario goals -->
		<div th:if="*{goals}" class="card goals">
			<div class="card-header">[[#{scenario.goals}]]</div>
			<div class="card-body">
				[(*{goals})]
			</div>
		</div>

		<!-- Scenario effects -->
		<div th:if="*{effects}" class="card effects">
			<div class="card-header">[[#{scenario.effects}]]</div>
			<div class="card-body">
				[(*{effects})]
			</div>
		</div>

		<!-- Sections -->
		<div class="sections">
			<th:block th:each="pathItem : *{path}" th:with="section = *{sections['__${pathItem}__']}">
				<th:block th:if="${section}">
					<div th:replace="~{fragments/section :: section(${section})}"></div>
				</th:block>
			</th:block>
		</div>
	</div>


	<!-- ------------- -->
	<!-- SCENARIO FORM -->
	<!-- ------------- -->
	<form th:fragment="scenarioForm" th:action="@{/scenario}" method="post" class="scenarioForm">
		<div class="mb-3">
			<label for="inputScenarioId" class="form-label">Scenario ID</label>
			<input type="text" class="form-control" id="inputScenarioId" name="scenarioId">
		</div>
		<div class="mb-3">
			<label for="inputScenarioPath" class="form-label">Path</label>
			<input type="text" class="form-control" id="inputScenarioPath" name="scenarioPath">
		</div>
		<button type="submit" class="btn btn-primary">Go to scenario</button>
	</form>
</body>
</html>