<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- -------- -->
	<!-- SCENARIO -->
	<!-- -------- -->
	<div th:fragment="scenario(scenario)" th:object="${scenario}" th:id="|scenario_*{id}|" class="scenario">
		<!-- Title -->
		<div class="title">
			<h1 class="mb-0">
				<span class="number">[[*{id}]] ·</span> [[*{name}]]
			</h1>
			<div th:if="*{location}" class="location">
				<i class="fa-solid fa-map-location me-1"></i> [[*{location}]]
			</div>
		</div>

		<!-- Scenario goals -->
		<div class="card goals my-3">
			<div class="card-header">Scenario Goals</div>
			<div class="card-body">
				[(*{goals})]
			</div>
		</div>

		<!-- Sections -->
		<th:block th:each="pathItem : *{path}">
			<div th:replace="~{fragments/section :: section(*{sections['__${pathItem}__']})}"></div>
		</th:block>
	</div>
</body>
</html>