<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- -------- -->
	<!-- SCENARIO -->
	<!-- -------- -->
	<div th:fragment="scenario(scenario)" th:object="${scenario}" th:id="|scenario_*{id}|" class="scenario">
		<!-- Title -->
		<div class="title">
			<h1 class="mb-0">
				<span class="number">[[*{id}]] ·</span> [[*{name}]]
				<img th:if="*{requirement}" class="requirement" th:src="@{img/icons/__*{#strings.toLowerCase(requirement)}__.png}">
			</h1>
			<th:block th:if="*{unlockedBy}">
				<th:block th:replace="~{fragments/campaign :: unlockedBy(*{unlockedBy})}"></th:block>
			</th:block>
			<div th:if="*{location}" class="location">
				<i class="fa-solid fa-map-location me-1"></i> [[*{location}]]
			</div>
		</div>

		<!-- Scenario goals -->
		<div class="card goals">
			<div class="card-header">[[#{scenario.goals}]]</div>
			<div class="card-body">
				[(*{goals})]
			</div>
		</div>

		<!-- Scenario effects -->
		<div th:if="*{effects}" class="card effects">
			<div class="card-header">[[#{scenario.effects}]]</div>
			<div class="card-body">
				[(*{effects})]
			</div>
		</div>

		<!-- Sections -->
		<div class="sections">
			<th:block th:each="pathItem : *{path}">
				<div th:replace="~{fragments/section :: section(*{sections['__${pathItem}__']})}"></div>
			</th:block>
		</div>
	</div>
</body>
</html>