<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ----------- -->
	<!-- SCENARIO JS -->
	<!-- ----------- -->

	<!-- TODO: All this should go to scenario.html PAGE now!! -->

	<script th:fragment="scenarioJs" th:inline="javascript">
		document.addEventListener("alpine:init", () => {
			Alpine.data("scenarioData", (scenarioId, scenarioPath) => ({
				scenarioPath: scenarioPath ?? [],
				scenario: {},

				init() {
					this.setScenario(scenarioId, false);
					// Event listeners
					window.addEventListener("changed-scenario-id", event => this.setScenario(event.detail));
					window.addEventListener("changed-scenario-path", event => this.setScenarioPath(event.detail));
				},

				get uncapitalizedQuestLine() {
					const questLine = this.scenario.questLine;
					return questLine?.charAt(0).toLowerCase() + questLine?.slice(1);
				},

				getTransportIconUrl(transport) { return this.$store.imgUrl + "/icons/" + transport + ".png" },

				// "changed-scenario-id" event handler
				setScenario(scenarioId, clearScenarioPath = true) {
					log.entry(scenarioId, clearScenarioPath);
					if (scenarioId) {
						this.scenario = this.$store.scenariosMap[scenarioId] ?? {};
						if (clearScenarioPath || this.scenarioPath.length == 0) this.scenarioPath = [...this.scenario.path];
					}
					log.exit();
				},

				// "changed-scenario-path" event handler
				setScenarioPath(newScenarioPath) {
					log.entry(newScenarioPath);
					this.scenarioPath = [...newScenarioPath];
					log.exit();
				}
			}));
		});
	</script>
</body>
</html>