<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ------- -->
	<!-- SECTION -->
	<!-- ------- -->
	<div th:fragment="section(section)" th:object="${section}" th:id="|section_*{id}|" class="section">
		<!-- Trigger -->
		<div th:if="*{trigger}" class="trigger">
			<i class="fa-solid fa-angles-right fa-sm"></i> [(*{trigger})]:
		</div>

		<!-- Title -->
		<div th:if="*{title}" class="title">
			<h2 class="mb-0">
				<span class="number">[[*{id}]] ·</span> [[*{title}]]
			</h2>
			<th:block th:if="*{unlockedBy}">
				<th:block th:replace="~{fragments/campaign :: unlockedBy(*{unlockedBy})}"></th:block>
			</th:block>
		</div>

		<!-- Introduction -->
		<div th:if="*{introduction}" class="card introduction">
			<div class="card-header">[[#{section.introduction}]]</div>
			<div class="card-body">
				[(*{introduction})]
			</div>
		</div>

		<!-- Text -->
		<div th:if="*{text}" class="text">
			[(*{text})]
		</div>

		<!-- Special rules -->
		<div th:if="*{specialRules}" class="card specialRules">
			<div class="card-header">[[#{section.specialRules}]]</div>
			<div class="card-body">
				[(*{specialRules})]
			</div>
		</div>

		<!-- Boss specials -->
		<div th:each="bossSpecial : *{bossSpecials.entrySet()}" class="card bossSpecial">
			<div class="card-header">[[#{section.bossSpecial}]] [[${bossSpecial.key}]]</div>
			<div class="card-body">
				[(${bossSpecial.value})]
			</div>
		</div>

		<!-- Map -->
		<div th:if="${section.partOfScenario && section.hasMap(scenario.id)}" class="map">
			<img th:with="imgName = ${scenario.id} + '_' + *{id}" th:src="@{/img/scenarios/__${imgName}__.png}" onload="this.width*=0.66;">
		</div>

		<!-- Conclusion -->
		<div th:if="*{conclusion}" class="card conclusion">
			<div class="card-header">[[#{section.conclusion}]]</div>
			<div class="card-body">
				[(*{conclusion})]
			</div>
		</div>

		<!-- Rewards -->
		<div th:if="*{rewards}" class="card rewards">
			<div class="card-header">[[#{section.rewards}]]</div>
			<div class="card-body">
				[(*{rewards})]
			</div>
		</div>

		<!-- Section Links -->
		<div th:if="*{conclusion != null && sectionLinks != null}" class="card sectionLinks">
			<div class="card-header">[[#{section.sectionLinks}]]</div>
			<div class="card-body">
				[(*{sectionLinks})]
			</div>
		</div>
	</div>
</body>
</html>