<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ------- -->
	<!-- SECTION -->
	<!-- ------- -->
	<div th:fragment="section(section)" th:object="${section}" th:id="|section_*{htmlSafeId}|" class="section">
		<!-- Trigger -->
		<div th:if="*{trigger}" class="trigger">
			<i class="fa-solid fa-angles-right fa-sm"></i> [(*{trigger})]:
		</div>

		<!-- Title -->
		<div th:if="*{title}" class="title titleSecondary">
			<h2>
				<span class="titleTertiary">[[*{id}]] ·</span> [[*{title}]]
			</h2>
			<th:block th:if="*{unlockedBy}">
				<th:block th:replace="~{fragments/frosthaven :: unlockedBy(*{unlockedBy})}"></th:block>
			</th:block>
		</div>

		<!-- Introduction -->
		<div th:if="*{introduction}" class="card fhCard fhCardFlush introduction">
			<div class="card-header">[[#{section.introduction}]]</div>
			<div class="card-body">
				[(*{introduction})]
			</div>
		</div>

		<!-- Text -->
		<div th:if="*{text}" class="text">
			[(*{text})]
		</div>

		<!-- Special rules -->
		<div th:if="*{specialRules}" class="card fhCard specialRules">
			<div class="card-header">[[#{section.specialRules}]]</div>
			<div class="card-body">
				[(*{specialRules})]
			</div>
		</div>

		<!-- Boss specials -->
		<div th:each="bossSpecial : *{bossSpecials.entrySet()}" class="card fhCard bossSpecial">
			<div class="card-header">
				<i class="fa-solid fa-skull fa-xs"></i> [[#{section.bossSpecial}]] [[${bossSpecial.key}]]
			</div>
			<div class="card-body">
				[(${bossSpecial.value})]
			</div>
		</div>

		<!-- Conclusion -->
		<div th:if="*{conclusion}" class="card fhCard fhCardFlush conclusion">
			<div class="card-header">[[#{section.conclusion}]]</div>
			<div class="card-body">
				[(*{conclusion})]
			</div>
		</div>

		<!-- Rewards -->
		<th:block th:if="*{rewards}">
			<th:block th:replace="~{:: rewards(*{rewards})}"></th:block>
		</th:block>

		<!-- Section links -->
		<th:block th:if="${section.conclusion != null || !section.partOfScenario || page?.name() == 'SCENARIO' || page?.name() == 'SECTION'}">
			<div th:if="*{sectionLinks}" class="card fhCard sectionLinks">
				<div class="card-header">[[#{section.sectionLinks}]]</div>
				<div class="card-body">
					[(*{sectionLinks})]
				</div>
			</div>
		</th:block>

		<!-- Map -->
		<div th:if="${section.partOfScenario && section.hasMap(scenario.id)}" class="map">
			<img th:src="@{/img/scenarios/{imgName}.png(imgName=${scenario.id} + '_' + *{id})}" onload="this.width*=0.66;">
		</div>
	</div>


	<!-- ------- -->
	<!-- REWARDS -->
	<!-- ------- -->
	<bs:card th:fragment="rewards(rewards)" th:object="${rewards}" class="fhCard rewards">
		<bs:cardHeader>[[#{section.rewards}]]</bs:cardHeader>
		<bs:cardBody>
			<!-- Text -->
			<div th:if="*{text}" class="fw-bold">
				[(*{text})]
			</div>

			<!-- New scenarios -->
			<div th:if="*{!#lists.isEmpty(scenarios)}">
				[[#{section.rewards.newScenarios}]]:
				<br/>
				<th:block th:replace="~{:: rewardsScenarios(*{scenarios})}"></th:block>
			</div>

			<!-- Locked out scenarios -->
			<div th:if="*{!#lists.isEmpty(lockedOutScenarios)}">
				[[#{section.rewards.lockedOutScenarios}]]:
				<br/>
				<th:block th:replace="~{:: rewardsScenarios(*{lockedOutScenarios})}"></th:block>
			</div>

			<!-- New events -->
			<div th:if="*{!#maps.isEmpty(events)}">
				[[#{section.rewards.newEvents}]]:
				<br/>
				<th:block th:replace="~{:: rewardsEvents(*{events['SO']}, #{section.rewards.newEvents.SO})}"></th:block>
				<th:block th:replace="~{:: rewardsEvents(*{events['SR']}, #{section.rewards.newEvents.SR})}"></th:block>
				<th:block th:replace="~{:: rewardsEvents(*{events['WO']}, #{section.rewards.newEvents.WO})}"></th:block>
				<th:block th:replace="~{:: rewardsEvents(*{events['WR']}, #{section.rewards.newEvents.WR})}"></th:block>
				<th:block th:replace="~{:: rewardsEvents(*{events['B']}, #{section.rewards.newEvents.B})}"></th:block>
			</div>
		</bs:cardBody>
	</bs:card>


	<!-- ----------------- -->
	<!-- REWARDS SCENARIOS -->
	<!-- ----------------- -->
	<th:block th:fragment="rewardsScenarios(scenariosList)">
		<th:block th:each="scenario : ${scenariosList}">
			<strong>[[${scenario.name}]]</strong>
			<span class="scenarioNumber">([[${#numbers.formatInteger(scenario.id,1)}]])</span>
			<img th:if="${scenario.linked}" class="icon linked" th:src="@{/img/icons/linked.png}">
			<img th:if="${scenario.forceLinked}" class="icon forceLinked" th:src="@{/img/icons/forceLinked.png}">
			<br/>
		</th:block>
	</th:block>

	<!-- -------------- -->
	<!-- REWARDS EVENTS -->
	<!-- -------------- -->
	<th:block th:fragment="rewardsEvents(eventsList,seasonAndTypeString)">
		<th:block th:if="${!#lists.isEmpty(eventsList)}">
			<strong th:each="event,iterStat : ${eventsList}">
				[[${event.id}]]<th:block th:if="${!iterStat.last}">, </th:block>
			</strong>
			([[${seasonAndTypeString}]])
			<br/>
		</th:block>
	</th:block>
</body>
</html>