<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ------- -->
	<!-- SECTION -->
	<!-- ------- -->
	<div th:fragment="section" x-bind:id="'section_' + section.htmlSafeId" x-data="sectionData(sectionId)">
		<template x-if="Object.keys(section).length > 0">
			<div class="section">
				<!-- Trigger -->
				<template x-if="section.trigger">
					<div class="trigger" x-jsz>
						<i class="fa-solid fa-angles-right fa-sm"></i>
						{{section.trigger}}:
					</div>
				</template>

				<!-- Title -->
				<template x-if="section.title">
					<div class="title titleSecondary">
						<h2 x-jsz>
							<span class="titleTertiary">{{section.id}} ·</span> {{section.title}}
						</h2>
						<!-- Unlocked by -->
						<template x-if="section.unlockedBy">
							<div x-data="{ unlockedBy: section.unlockedBy }">
								<th:block th:replace="~{fragments/common/unlockedBy :: unlockedBy}"/>
							</div>
						</template>
					</div>
				</template>

				<!-- Introduction -->
				<template x-if="section.introduction">
					<bs:card class="fhCard fhCardFlush introduction">
						<bs:cardHeader>[[#{section.introduction}]]</bs:cardHeader>
						<bs:cardBody x-jsz>
							{{section.introduction}}
						</bs:cardBody>
					</bs:card>
				</template>

				<!-- Text -->
				<template x-if="section.text">
					<div class="text" x-jsz>
						{{section.text}}
					</div>
				</template>

				<!-- Special rules -->
				<template x-if="section.specialRules">
					<bs:card class="fhCard specialRules">
						<bs:cardHeader>[[#{section.specialRules}]]</bs:cardHeader>
						<bs:cardBody x-jsz>
							{{section.specialRules}}
						</bs:cardBody>
					</bs:card>
				</template>

				<!-- Boss specials -->
				<template x-for="bossSpecial in section.bossSpecials">
					<bs:card class="fhCard bossSpecial" x-jsz>
						<bs:cardHeader>
							<i class="fa-solid fa-skull fa-xs"></i> [[#{section.bossSpecial}]] {{bossSpecial.key}}
						</bs:cardHeader>
						<bs:cardBody>
							{{bossSpecial.value}}
						</bs:cardBody>
					</bs:card>
				</template>

				<!-- Conclusion -->
				<template x-if="section.conclusion">
					<bs:card class="fhCard fhCardFlush conclusion">
						<bs:cardHeader>[[#{section.conclusion}]]</bs:cardHeader>
						<bs:cardBody x-jsz>
							{{section.conclusion}}
						</bs:cardBody>
					</bs:card>
				</template>

				<!-- Rewards -->
				<template x-if="section.rewards">
					<div class="rewards" x-data="{ rewards: section.rewards }">
						<th:block th:replace="~{fragments/rewards :: rewards}"/>
					</div>
				</template>

				<!-- Section links -->
				<template x-if="section.sectionLinks">
					<bs:card class="fhCard sectionLinks">
						<bs:cardHeader>[[#{section.sectionLinks}]]</bs:cardHeader>
						<bs:cardBody x-jsz>
							{{section.sectionLinks}}
						</bs:cardBody>
					</bs:card>
				</template>

				<!-- Map -->
				<!--
				<div th:if="${scenario != null && section.hasMap(scenario.id)}" class="map">
					<img th:src="@{__${imgUrl}__/scenarios/{imgName}.png(imgName=${scenario.id} + '_' + *{id})}" onload="this.width*=0.66;">
				</div>
				-->
			</div>
		</template>
	</div>


	<!-- ---------- -->
	<!-- SECTION JS -->
	<!-- ---------- -->
	<script th:fragment="sectionJs" th:inline="javascript">
		document.addEventListener("alpine:init", () => {
			Alpine.data("sectionData", (sectionId) => ({
				section: {},

				init() {
					this.loadSection(sectionId);
					// Event listeners
					window.addEventListener("changed-section-id", event => this.loadSection(event.detail));
				},

				// "changed-section-id" event handler
				loadSection(sectionId) {
					log.entry(sectionId);
					if (sectionId) this.section = this.$store.sectionsMap[sectionId] ?? {};
					log.exit();
				}
			}));
		});
	</script>
</body>
</html>