<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ------------ -->
	<!-- SECTION FORM -->
	<!-- ------------ -->
	<form th:fragment="sectionForm" id="sectionForm" x-data="sectionFormData(sectionId)">
		<bs:card>
			<bs:cardBody>
				<div>
					<bs:label for="inputSectionId">[[#{section.id}]]</bs:label>
					<bs:select id="inputSectionId" name="sectionId" required></bs:select>
				</div>
			</bs:cardBody>
		</bs:card>
	</form>


	<!-- --------------- -->
	<!-- SECTION FORM JS -->
	<!-- --------------- -->
	<script th:fragment="sectionFormJs" th:inline="javascript">
		document.addEventListener("alpine:init", () => {
			Alpine.data("sectionFormData", (sectionId) => ({
				sectionIdSelect: null,

				init() {
					this.sectionIdSelect = new TomSelect("#inputSectionId", {
						options: Object.keys(this.$store.frosthaven.sectionsMap).map(sectionId => 
							({ value: sectionId, text: sectionId })
						),
						items: sectionId,
						onChange: newSectionId => this.$dispatch("changed-section-id", newSectionId),
						maxOptions: null
					});
				}
			}));
		});
	</script>
</body>
</html>