<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ----------------- -->
	<!-- TABLE OF CONTENTS -->
	<!-- ----------------- -->
	<div th:fragment="tableOfContents" id="tableOfContents">
		<div class="list-group list-group-flush">
			<!-- WELCOME -->
			<a th:if="${welcome}" class="list-group-item list-group-item-action" href="#welcome">
				[[#{welcome.title}]]
			</a>

			<!-- PARTY -->
			<th:block th:if="${!#lists.isEmpty(party)}">
				<a class="list-group-item list-group-item-action" href="#party">[[#{party.title}]]</a>
				<th:block th:each="character : ${party}" th:object="${character}">
					<a class="list-group-item list-group-item-action child" th:href="|#character_*{id}|"
					   th:insert="~{:: character(${character},'')}">
					</a>
				</th:block>
			</th:block>

			<th:block th:each="storyObject : ${story}" th:object="${storyObject}">
				<!-- EVENT -->
				<a th:if="*{objectType.name() == 'EVENT'}" class="list-group-item list-group-item-action" th:href="|#event_*{id}|">
					[[*{id}]] · [[*{season}]] [[*{type}]] [[#{event.title}]]
				</a>

				<!-- SCENARIO -->
				<a th:if="*{objectType.name() == 'SCENARIO'}" class="list-group-item list-group-item-action" th:href="|#scenario_*{id}|">
					<div class="scenarioNumber questLine" th:classappend="*{#strings.unCapitalize(questLine)}">[[*{#numbers.formatInteger(id,1)}]]</div>
					<strong>[[*{name}]]</strong>
				</a>

				<!-- OUTPOST PHASE -->
				<th:block th:if="*{objectType.name() == 'OUTPOST_PHASE'}">
					<a class="list-group-item list-group-item-action" th:href="|#outpostPhase_*{id}|">
						[[#{outpostPhase.title}]] #[[*{id}]]
					</a>
					<!-- Passage of time -->
					<a th:each="section : *{passageOfTime}" th:object="${section}" class="list-group-item list-group-item-action child" th:href="|#section_*{id}|">
						[[*{id}]] · [[*{title}]]
					</a>
					<!-- Outpost event -->
					<a th:if="*{outpostEvent}" th:object="${storyObject.outpostEvent}" class="list-group-item list-group-item-action child" th:href="|#event_*{id}|">
						[[*{id}]] · [[*{season}]] [[*{type}]] [[#{event.title}]]
					</a>
					<!-- Retirements -->
					<th:block th:each="character : *{retirements}" th:object="${character}">
						<a class="list-group-item list-group-item-action child"  th:href="|#retirement_*{id}|"
						   th:insert="~{:: character(${character},#{character.retirement})}">
						</a>
					</th:block>
					<!-- New members -->
					<th:block th:each="character : *{newMembers}" th:object="${character}">
						<a class="list-group-item list-group-item-action child"  th:href="|#character_*{id}|"
						   th:insert="~{:: character(${character},#{character.joining})}">
						</a>
					</th:block>
				</th:block>
			</th:block>
		</div>
	</div>


	<!-- --------- -->
	<!-- CHARACTER -->
	<!-- --------- -->
	<div th:fragment="character(character,titleSuffix)" th:object="${character}">
		<div class="iconWrapper">
			<img class="icon" th:classappend="*{id}" th:src="@{/img/icons/__*{id}__.png}">
		</div>
		[[*{fullName}]]<th:block th:if="${titleSuffix}"> [[${titleSuffix}]]</th:block>
	</div>
</body>
</html>
