<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ----------------- -->
	<!-- TABLE OF CONTENTS -->
	<!-- ----------------- -->
	<div th:fragment="tableOfContents" class="tableOfContents">
		<div class="list-group list-group-flush">
			<!-- Welcome -->
			<a th:if="${welcome}" class="list-group-item list-group-item-action" href="#welcome">
				[[#{welcome.title}]]
			</a>

			<!-- Party -->
			<th:block th:if="${party}">
				<a class="list-group-item list-group-item-action" href="#party">[[#{party.title}]]</a>
				<th:block th:each="character : ${party.characters}">
					<a class="list-group-item list-group-item-action ps-5" th:href="|#character_*{nameId}|">[[${character.name}]]</a>
				</th:block>
			</th:block>

			<th:block th:each="storyObject : ${storyObjectsList}" th:object="${storyObject}">
				<!-- Scenario -->
				<a th:if="*{objectType.name() == 'SCENARIO'}" class="list-group-item list-group-item-action" th:href="|#scenario_*{id}|">
					<strong>[[*{#numbers.formatInteger(id,1)}]] · [[*{name}]]</strong>
				</a>
				<!-- Outpost phase -->
				<th:block th:if="*{objectType.name() == 'OUTPOST_PHASE'}">
					<a class="list-group-item list-group-item-action" th:href="|#outpostPhase_*{id}|">
						[[#{outpostPhase.title}]] #[[*{id}]]
					</a>
					<a th:each="section : *{sections}" class="list-group-item list-group-item-action ps-5" th:object="${section}" th:href="|#section_*{id}|">
						[[*{id}]] · [[*{title}]]
					</a>
					<a th:if="*{event}" class="list-group-item list-group-item-action ps-5" th:object="${storyObject.event}" th:href="|#event_*{id}|">
						[[*{id}]] · [[*{season}]] [[*{type}]] [[#{event.title}]]
					</a>
				</th:block>
				<!-- Event -->
				<a th:if="*{objectType.name() == 'EVENT'}" class="list-group-item list-group-item-action" th:href="|#event_*{id}|">
					[[*{id}]] · [[*{season}]] [[*{type}]] [[#{event.title}]]
				</a>
			</th:block>
		</div>
	</div>
</body>
</html>
