<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
	<meta charset="utf-8">
	<title>[[#{campaignPage.title}]]</title>

	<!-- STYLES -->
	<link rel="stylesheet" th:href="@{/css/tableOfContents.css}">
	<link rel="stylesheet" th:href="@{/css/campaign.css}">
	<link rel="stylesheet" th:href="@{/css/character.css}">
	<link rel="stylesheet" th:href="@{/css/event.css}">
	<link rel="stylesheet" th:href="@{/css/scenario.css}">
	<link rel="stylesheet" th:href="@{/css/section.css}">
	<link rel="stylesheet" th:href="@{/css/rewards.css}">
	<link rel="stylesheet" th:href="@{/css/outpostPhase.css}">
</head>

<body data-bs-spy="scroll" data-bs-target="#tableOfContents" data-bs-smooth-scroll="true" x-data="campaignPageData">
	<!-- CONTENT -->
	<th:block layout:fragment="content">
		<bs:row gx="5">
			<bs:col col="3">
				<th:block th:replace="~{fragments/campaignTableOfContents :: campaignTableOfContents}"/>
			</bs:col>
			<bs:col col="9">
				<th:block th:replace="~{fragments/campaign :: campaign}"/>
			</bs:col>
		</bs:row>
	</th:block>

	<!-- JAVASCRIPT -->
	<th:block layout:fragment="javascript">
		<script th:replace="~{:: campaignPageJs}"></script>
		<script th:replace="~{fragments/campaignTableOfContents :: campaignTableOfContentsJs}"></script>
		<script th:replace="~{fragments/campaign :: campaignJs}"></script>
		<script th:replace="~{fragments/event :: eventJs}"></script>
		<script th:replace="~{fragments/section :: sectionJs}"></script>
		<script th:replace="~{fragments/outpostPhase :: outpostPhaseJs}"></script>
	</th:block>


	<!-- ---------------- -->
	<!-- CAMPAIGN PAGE JS -->
	<!-- ---------------- -->
	<script th:fragment="campaignPageJs" th:inline="javascript">
		document.addEventListener("alpine:init", () => {
			Alpine.store("charactersMap", /*[[${charactersMap}]]*/ {});
			Alpine.store("personalQuestsMap", /*[[${personalQuestsMap}]]*/ {});
			Alpine.store("scenariosMap", /*[[${scenariosMap}]]*/ {});
			Alpine.store("eventsMap", /*[[${eventsMap}]]*/ {});
			Alpine.store("sectionsMap", /*[[${sectionsMap}]]*/ {});
			Alpine.store("buildingsMap", /*[[${buildingsMap}]]*/ {});

			Alpine.data("campaignPageData", () => ({
				initialParty: [],
				currentParty: [],
				campaignItems: [],
				outpostPhaseCount: 0,

				init() {
					const personalStory = JSON.parse(localStorage.getItem("personalStory"));
					this.initParty(personalStory.party);
					for (const personalStoryItem of personalStory.story) {
						if (personalStoryItem.scenario) this.initScenario(personalStoryItem.scenario);
						else if (personalStoryItem.event) this.initEvent(personalStoryItem.event);
						else if (personalStoryItem.outpostPhase) this.initOutpostPhase(personalStoryItem.outpostPhase);
					}
				},

				initParty(psPartyMembers) {
					log.entry(psPartyMembers);
					for (const psPartyMember of psPartyMembers) {
						const partyMember = this.getCharacter(psPartyMember);
						if (partyMember !== null) {
							this.initialParty.push(partyMember);
							this.currentParty.push(partyMember);
						}
					}
					log.exit();
				},

				initScenario(psScenario) {
					log.entry(psScenario);
					const scenario = this.getScenario(psScenario);
					if (scenario !== null) this.campaignItems.push({ scenario: scenario });
					log.exit();
				},

				initEvent(psEvent) {
					log.entry(psEvent);
					const event = this.getEvent(psEvent);
					if (event !== null) this.campaignItems.push({ event: event });
					log.exit();
				},

				initOutpostPhase(psOutpostPhase) {
					log.entry(psOutpostPhase);
					this.outpostPhaseCount += 1;
					const outpostPhase = { id: this.outpostPhaseCount };

					// Town guard perks
					if (psOutpostPhase.townGuardPerks?.length > 0) {
						outpostPhase.townGuardPerks = [];
						for (const psSection of psOutpostPhase.townGuardPerks) {
							const section = this.getSection(psSection);
							if (section) outpostPhase.townGuardPerks.push(section);
						}
					}
					// Passage of time
					if (psOutpostPhase.passageOfTime?.length > 0) {
						outpostPhase.passageOfTime = [];
						for (const psSection of psOutpostPhase.passageOfTime) {
							const section = this.getSection(psSection);
							if (section) outpostPhase.passageOfTime.push(section);
						}
					}
					// Outpost event
					if (psOutpostPhase.outpostEvent) {
						const outpostEvent = this.getEvent(psOutpostPhase.outpostEvent);
						if (outpostEvent) outpostPhase.outpostEvent = outpostEvent;
					}
					// Level ups
					if (psOutpostPhase.levelUps?.length > 0) {
						outpostPhase.levelUps = [];
						for (const psCharacter of psOutpostPhase.levelUps) {
							const character = this.getPartyMember(psCharacter);
							if (character) outpostPhase.levelUps.push(character);
						}
					}
					// Retirements
					if (psOutpostPhase.retirements?.length > 0) {
						outpostPhase.retirements = [];
						for (const psCharacter of psOutpostPhase.retirements) {
							const character = this.getPartyMember(psCharacter);
							if (character) {
								outpostPhase.retirements.push(character);
								this.currentParty = this.currentParty.filter(partyMember => partyMember.id !== character.id);
							}
						}
					}
					// New members
					if (psOutpostPhase.newMembers?.length > 0) {
						outpostPhase.newMembers = [];
						for (const psCharacter of psOutpostPhase.newMembers) {
							const character = this.getCharacter(psCharacter);
							if (character) {
								outpostPhase.newMembers.push(character);
								this.currentParty.push(character);
							}
						}
					}
					// Build
					if (psOutpostPhase.build?.length > 0) {
						outpostPhase.build = [];
						for (const psBuilding of psOutpostPhase.build) {
							const building = this.getBuilding(psBuilding);
							if (building) outpostPhase.build.push(building);
						}
					}
					// Upgrade
					if (psOutpostPhase.upgrade?.length > 0) {
						outpostPhase.upgrade = [];
						for (const psBuilding of psOutpostPhase.upgrade) {
							const building = this.getBuilding(psBuilding);
							if (building) outpostPhase.upgrade.push(building);
						}
					}
					this.campaignItems.push({ outpostPhase: outpostPhase });
					log.exit();
				},


				/* ------- */
				/* HELPERS */
				/* ------- */
				/* Get full campaign items from the personal story info */

				getCharacter(psCharacter) {
					const rawCharacter = this.$store.charactersMap[psCharacter.id];
					if (rawCharacter) {
						const character = { ...rawCharacter };
						// Personal quest
						if (psCharacter.personalQuest) {
							const personalQuest = this.getPersonalQuest(psCharacter.personalQuest);
							if (personalQuest) character.personalQuest = personalQuest;
						}
						return character;
					}
					else return null;
				},

				getPartyMember(psCharacter) {
					const partyMember = this.currentParty.find(partyMember => partyMember.id === psCharacter.id);
					if (partyMember) {
						const partyMemberCopy = { ...partyMember };
						// Additional personal quest
						if (psCharacter.additionalPersonalQuest) {
							const additionalPersonalQuest = this.getPersonalQuest(psCharacter.additionalPersonalQuest);
							if (additionalPersonalQuest) partyMemberCopy.additionalPersonalQuest = additionalPersonalQuest;
						}
						// Level
						if (psCharacter.level) partyMemberCopy.level = psCharacter.level;
						return partyMemberCopy;
					}
					else return null;
				},

				getPersonalQuest(psPersonalQuest) {
					const rawPersonalQuest = this.$store.personalQuestsMap[psPersonalQuest.id];
					if (rawPersonalQuest) return { ...rawPersonalQuest };
					else return null;
				},

				getScenario(psScenario) {
					const rawScenario = this.$store.scenariosMap[psScenario.id];
					if (rawScenario) {
						const scenario = { ...rawScenario };
						// Path
						if (psScenario.path?.length > 0) scenario.path = psScenario.path;
						// Random scenario section
						if (psScenario.randomScenarioSection) {
							scenario.randomScenarioSection = this.$store.sectionsMap[psScenario.randomScenarioSection.id];
						}
						return scenario;
					}
					else return null;
				},

				getEvent(psEvent) {
					const rawEvent = this.$store.eventsMap[psEvent.id];
					if (rawEvent) {
						const event = { ...rawEvent };
						// Chosen options
						if (psEvent.chosenOptions?.length > 0) event.chosenOptionsIds = psEvent.chosenOptions;
						else if (psEvent.chosenOption) event.chosenOptionsIds = [psEvent.chosenOption];
						// Random scenario section
						if (psEvent.randomScenarioSection) {
							event.randomScenarioSection = this.$store.sectionsMap[psEvent.randomScenarioSection.id];
						}
						return event;
					}
					else return null;
				},

				getSection(psSection) {
					const rawSection = this.$store.sectionsMap[psSection.id];
					if (rawSection) return { ...rawSection };
					else return null;
				},

				getBuilding(psBuilding) {
					const rawBuilding = this.$store.buildingsMap[psBuilding.id];
					if (rawBuilding) {
						const building = { ...rawBuilding };
						if (psBuilding.level) {
							building.level = psBuilding.level;
							building.sectionPath = psBuilding.path ?? Object.keys(building.levels[building.level].builtSections);
						}
						return building;
					}
					else return null;
				}
			}));
		});
	</script>
</body>
</html>