<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
	<meta charset="utf-8">
	<title>[[#{campaignPage.title}]]</title>

	<!-- STYLES -->
	<link rel="stylesheet" th:href="@{/css/tableOfContents.css}">
	<link rel="stylesheet" th:href="@{/css/campaign.css}">
	<link rel="stylesheet" th:href="@{/css/character.css}">
	<link rel="stylesheet" th:href="@{/css/event.css}">
	<link rel="stylesheet" th:href="@{/css/scenario.css}">
	<link rel="stylesheet" th:href="@{/css/section.css}">
	<link rel="stylesheet" th:href="@{/css/rewards.css}">
	<link rel="stylesheet" th:href="@{/css/outpostPhase.css}">
</head>

<body data-bs-spy="scroll" data-bs-target="#tableOfContents" data-bs-smooth-scroll="true" x-data="campaignPageData">
	<!-- CONTENT -->
	<th:block layout:fragment="content">
		<bs:row gx="5">
			<bs:col col="3">
				<th:block th:replace="~{fragments/campaignTableOfContents :: campaignTableOfContents}"/>
			</bs:col>
			<bs:col col="9">
				<th:block th:replace="~{fragments/campaign :: campaign}"/>
			</bs:col>
		</bs:row>
	</th:block>

	<!-- JAVASCRIPT -->
	<th:block layout:fragment="javascript">
		<script th:replace="~{:: campaignPageJs}"></script>
		<script th:replace="~{fragments/campaign :: campaignJs}"></script>
		<script th:replace="~{fragments/event :: eventJs}"></script>
		<script th:replace="~{fragments/section :: sectionJs}"></script>
	</th:block>


	<!-- ---------------- -->
	<!-- CAMPAIGN PAGE JS -->
	<!-- ---------------- -->
	<script th:fragment="campaignPageJs" th:inline="javascript">
		document.addEventListener("alpine:init", () => {
			Alpine.store("charactersMap", /*[[${charactersMap}]]*/ {});
			Alpine.store("scenariosMap", /*[[${scenariosMap}]]*/ {});
			Alpine.store("eventsMap", /*[[${eventsMap}]]*/ {});

			Alpine.data("campaignPageData", () => ({
				partyMembers: [],
				campaignItems: [],

				init() {
					const personalStory = JSON.parse(localStorage.getItem("personalStory"));
					this.initParty(personalStory.party);
					for (const personalStoryItem of personalStory.story) {
						if (personalStoryItem.scenario) this.initScenario(personalStoryItem.scenario);
						else if (personalStoryItem.event) this.initEvent(personalStoryItem.event);
					}
				},

				initParty(psPartyMembers) {
					log.entry(psPartyMembers);
					for (const psPartyMember of psPartyMembers) {
						const partyMember = this.$store.charactersMap[psPartyMember.id];
						if (partyMember) {
							// TO-DO: Personal Quest
							// ...
							this.partyMembers.push(partyMember);
						}
					}
					log.exit();
				},

				initScenario(psScenario) {
					log.entry(psScenario);
					const scenario = this.$store.scenariosMap[psScenario.id];
					if (scenario) {
						if (psScenario.path?.length > 0) scenario.path = psScenario.path;
						this.campaignItems.push({ scenario: scenario });
					}
					log.exit();
				},

				initEvent(psEvent) {
					log.entry(psEvent);
					const event = this.$store.eventsMap[psEvent.id];
					if (event) {
						if (psEvent.chosenOptions?.length > 0) event.chosenOptionsIds = psEvent.chosenOptions;
						else if (psEvent.chosenOption) event.chosenOptionsIds = [psEvent.chosenOption];
						this.campaignItems.push({ event: event });
					}
					log.exit();
				}
			}));
		});
	</script>
</body>
</html>