<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
	<meta charset="utf-8">
	<title>[[#{campaignPage.title}]]</title>

	<link rel="stylesheet" th:href="@{/css/tableOfContents.css}">
	<link rel="stylesheet" th:href="@{/css/campaign.css}">
	<link rel="stylesheet" th:href="@{/css/character.css}">
	<link rel="stylesheet" th:href="@{/css/event.css}">
	<link rel="stylesheet" th:href="@{/css/scenario.css}">
	<link rel="stylesheet" th:href="@{/css/section.css}">
	<link rel="stylesheet" th:href="@{/css/rewards.css}">
	<link rel="stylesheet" th:href="@{/css/outpostPhase.css}">
</head>

<body data-bs-spy="scroll" data-bs-target="#tableOfContents" data-bs-smooth-scroll="true">
	<!-- CONTENT -->
	<th:block layout:fragment="content">
		<!-- Loading -->
		<th:block th:replace="~{fragments/campaign :: loading}"></th:block>

		<!-- Empty campaign, ready to be replaced -->
		<div id="campaign"></div>
	</th:block>

	<!-- MODALS -->
    <th:block layout:fragment="modals">
		<th:block th:replace="~{fragments/personalStory :: editPersonalStoryModal}"></div>
    </th:block>

	<!-- JAVASCRIPT -->
	<th:block layout:fragment="javascript">
		<th:block th:replace="~{fragments/campaign :: campaignJs}"></th:block>
		<th:block th:replace="~{fragments/tableOfContents :: tableOfContentsJs}"></th:block>
		<th:block th:replace="~{fragments/personalStory :: personalStoryJs}"></th:block>
	</th:block>
</body>
</html>