<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
	<meta charset="utf-8">
	<title>[[#{eventPage.title}]]</title>

	<link rel="stylesheet" th:href="@{/css/event.css}">
	<link rel="stylesheet" th:href="@{/css/rewards.css}">
</head>

<body>
	<!-- CONTENT -->
	<th:block layout:fragment="content">
		<bs:row gx="{md:4, xl:5}" gy="4" x-data="eventPageData">
			<bs:col col="{xs:12, md:3}">
				<th:block th:replace="~{fragments/eventForm :: eventForm}"/>
			</bs:col>
			<bs:col col="{xs:12, md:9}">
				<template x-if="Object.keys(event).length > 0">
					<th:block th:replace="~{fragments/event :: event}"/>
				</template>
			</bs:col>
		</bs:row>
	</th:block>

	<!-- JAVASCRIPT -->
	<th:block layout:fragment="javascript">
		<script th:replace="~{:: eventPageJs}"></script>
		<script th:replace="~{fragments/frosthaven :: frosthavenJs}"></script>
		<script th:replace="~{fragments/eventForm :: eventFormJs}"></script>
		<script th:replace="~{fragments/event :: eventJs}"></script>
	</th:block>

	
	<!-- ------------- -->
	<!-- EVENT PAGE JS -->
	<!-- ------------- -->
	<script th:fragment="eventPageJs" th:inline="javascript">
		document.addEventListener("alpine:init", () => {
			Alpine.data("eventPageData", () => ({
				eventId: /*[[${eventId}]]*/ null,
				chosenOptionsIds: /*[[${chosenOptionsIds}]]*/ [],
				event: {},

				init() {
					if (this.eventId) this.setEvent();
					window.addEventListener("changed-event-id", event => this.setEventId(event.detail));
					window.addEventListener("changed-chosen-options", event => this.setChosenOptionsIds(event.detail));
				},

				setEvent() {
					log.entry(this.eventId, this.chosenOptionsIds);
					this.event = {};
					this.$nextTick(() => {
						this.event = this.$store.frosthaven.getEvent({ id: this.eventId, chosenOptions: this.chosenOptionsIds });
					});
					log.exit();
				},

				// "changed-event-id" event handler
				setEventId(eventId) {
					log.entry(eventId);
					this.eventId = eventId;
					this.chosenOptionsIds = [];
					this.setEvent();
					log.exit();
				},

				// "changed-chosen-options" event handler
				setChosenOptionsIds(newChosenOptionsIds) {
					log.entry(newChosenOptionsIds);
					this.chosenOptionsIds = newChosenOptionsIds;
					this.setEvent();
					log.exit();
				}
			}));
		});
	</script>
</body>
</html>