<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
	<meta charset="utf-8">
	<title>[[#{sectionPage.title}]]</title>

	<link rel="stylesheet" th:href="@{/css/scenario.css}">
	<link rel="stylesheet" th:href="@{/css/section.css}">
	<link rel="stylesheet" th:href="@{/css/rewards.css}">
</head>

<body>
	<!-- CONTENT -->
	<th:block layout:fragment="content">
		<bs:row gx="{md:4, xl:5}" gy="4">
			<bs:col col="{xs:12, md:3}">
				
			</bs:col>
			<bs:col col="{xs:12, md:9}">
				<fh-section></fh-section>
			</bs:col>
		</bs:row>
	</th:block>

	<!-- COMPONENTS -->
	<th:block layout:fragment="components">
		<th:block th:replace="~{components/section :: section}"/>
	</th:block>

	<!-- JAVASCRIPT -->
	<th:block layout:fragment="javascript">
		<script th:replace="~{:: sectionPageJs}"></script>
	</th:block>


	<!-- --------------- -->
	<!-- SECTION PAGE JS -->
	<!-- --------------- -->
	<script th:fragment="sectionPageJs" th:inline="javascript">
		const app = Vue.createApp({
			components: {
				FhSection
			}
		});
		app.mount("#app");
	</script>
</body>
</html>