<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
	<meta charset="utf-8">
	<title>[[#{sectionPage.title}]]</title>

	<link rel="stylesheet" th:href="@{/css/scenario.css}">
	<link rel="stylesheet" th:href="@{/css/section.css}">
	<link rel="stylesheet" th:href="@{/css/rewards.css}">
</head>

<body>
	<!-- CONTENT -->
	<th:block layout:fragment="content">
		<bs:row gx="{md:4, xl:5}" gy="4" x-data="sectionPageData">
			<bs:col col="{xs:12, md:3}">
				<th:block th:replace="~{fragments/sectionForm :: sectionForm}"/>
			</bs:col>
			<bs:col col="{xs:12, md:9}">
				<template x-if="Object.keys(section).length > 0">
					<th:block th:replace="~{fragments/section :: section}"/>
				</template>
			</bs:col>
		</bs:row>
	</th:block>

	<!-- JAVASCRIPT -->
	<th:block layout:fragment="javascript">
		<script th:replace="~{:: sectionPageJs}"></script>
		<script th:replace="~{fragments/frosthaven :: frosthavenJs}"></script>
		<script th:replace="~{fragments/sectionForm :: sectionFormJs}"></script>
	</th:block>


	<!-- --------------- -->
	<!-- SECTION PAGE JS -->
	<!-- --------------- -->
	<script th:fragment="sectionPageJs" th:inline="javascript">
		document.addEventListener("alpine:init", () => {
			Alpine.data("sectionPageData", () => ({
				sectionId: /*[[${sectionId}]]*/ null,
				section: {},

				init() {
					if (this.sectionId) this.setSection(this.sectionId.replace("_", "."));
					window.addEventListener("changed-section-id", event => this.setSection(event.detail));
				},

				// "changed-section-id" event handler
				setSection(sectionId) {
					log.entry(sectionId);
					this.section = {};
					this.$nextTick(() => this.section = this.$store.frosthaven.getSection({ id: sectionId }));
					log.exit();
				}
			}));
		});
	</script>
</body>
</html>