<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ----------- -->
	<!-- UNLOCKED BY -->
	<!-- ----------- -->
	<div th:fragment="unlockedBy" class="subtitle" x-data="unlockedByData(unlockedBy)">
		<i class="fa-solid fa-fw fa-unlock me-1"></i> [[#{unlockedBy}]]:
		<template x-for="(unlockedByItem, index) in unlockedBy">
			<span>
				<span x-show="index > 0">[[#{unlockedBy.separator}]]</span>
				<template x-if="unlockedByItem.event">
					<a class="link-secondary" x-bind:href="getLinkUrl(unlockedByItem)" x-jsz>
						[[#{unlockedBy.event}]] {{unlockedByItem.event.id}}
					</a>
				</template>
				<template x-if="unlockedByItem.scenario">
					<a class="link-secondary" x-bind:href="getLinkUrl(unlockedByItem)" x-jsz>
						[[#{unlockedBy.scenario}]] {{unlockedByItem.scenario.id}}
					</a>
				</template>
				<template x-if="unlockedByItem.section">
					<a class="link-secondary" x-bind:href="getLinkUrl(unlockedByItem)" x-jsz>
						[[#{unlockedBy.section}]] {{unlockedByItem.section.id}}
					</a>
				</template>
				<template x-if="unlockedByItem.other">
					<span x-jsz>{{unlockedByItem.other}}</span>
				</template>
			</span>
		</template>
	</div>


	<!-- -------------- -->
	<!-- UNLOCKED BY JS -->
	<!-- -------------- -->
	<script th:fragment="unlockedByJs" th:inline="javascript">
		document.addEventListener("alpine:init", () => {
			Alpine.data("unlockedByData", (unlockedBy) => ({
				getLinkUrl(unlockedByItem) {
					const urlPrefix = this.$store.webPage == "CAMPAIGN" ? "#" : "/";
					const urlSuffix = this.$store.webPage == "CAMPAIGN" ? "_" : "/";
					if (unlockedByItem.event) return `${urlPrefix}event${urlSuffix}${unlockedByItem.event.id}`;
					else if (unlockedByItem.scenario) return `${urlPrefix}scenario${urlSuffix}${unlockedByItem.scenario.id}`;
					else if (unlockedByItem.section) return `${urlPrefix}section${urlSuffix}${unlockedByItem.section.htmlSafeId}`;
					else return "";
				}
			}));
		});
	</script>
</body>
</html>