
/* ------ */
/* COMMON */
/* ------ */

.campaign {
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-family: var(--font-tinos);
	color: #2c2e35;
}

.campaign .title {
	margin-bottom: 1rem;
	font-family: var(--font-pirata-one);
	font-size: 28pt;
}

.campaign .title .number {
	font-family: var(--font-germania-one);
	font-size: 25pt;
	vertical-align: bottom;
}

.campaign p:last-child {
	margin-bottom: 0;
}

.campaign img:not(.icon) {
	border: 2px solid;
}

.myStory {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}


/* ------- */
/* WELCOME */
/* ------- */

.welcome .text {
	font-family: var(--font-texturina);
	font-weight: 300;
}


/* ----- */
/* PARTY */
/* ----- */

.party .character:not(:first-of-type) {
	margin-top: 2rem;
}

.party .character .title {
	font-family: var(--font-germania-one);
	font-size: 25pt;
}

.party .character .mat {
	text-align: center;
}

.party .character .mat img:not(:first-of-type) {
	margin-top: 0.5rem;
}

.party .character .background {
	margin-top: 1rem;
}

.party .character .personalQuest {
	margin-top: 1.5rem;
	text-align: center;
}

.party .character .personalQuest img {
	max-height: 400px;
}


/* ------------- */
/* OUTPOST PHASE */
/* ------------- */

.outpostPhase .downtime {
	margin-top: 2rem;
}

.outpostPhase .construction {
	margin-top: 2rem;
}

.outpostPhase .construction .building .fhCard {
	margin-top: 1rem;
	text-align: center;
}

.outpostPhase .construction .building .fhCard img {
	max-width: 400px;
	max-height: 400px;
}
