
/* ------------ */
/* LOAD CONTENT */
/* ------------ */

#editPersonalStoryButton {
	position: absolute;
	right: 0;
	margin-right: 24px;
	z-index: 1;
}

#editPersonalStoryModal textarea {
	min-height: 75vh;
}


/* -------- */
/* MY STORY */
/* -------- */

#personalStory {
	display: flex;
	flex-direction: column;
	gap: var(--story-objects-gap);
	font-family: var(--font-tinos);
}


/* ------- */
/* WELCOME */
/* ------- */

.welcome .text {
	font-family: var(--font-texturina);
	font-weight: 300;
}


/* ----- */
/* PARTY */
/* ----- */

.party .character:not(:first-of-type) {
	margin-top: var(--part-margin);
}
