
/* --------- */
/* VARIABLES */
/* --------- */

:root {
	/* Gap between story objects */
	--story-objects-gap: 6rem;

	/* Gap between party characters */
	--party-inner-gap: 2rem;

	/* Loading padding */
	--loading-padding: 5rem;

	/* Back to top button size */
	--back-to-top-button-size: 45px;
}


/* ------- */
/* LOADING */
/* ------- */
#loading {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	padding-top: var(--loading-padding);
	padding-bottom: var(--loading-padding);
}


/* -------- */
/* MY STORY */
/* -------- */

#personalStory {
	display: flex;
	flex-direction: column;
	gap: var(--story-objects-gap);
	
	font-family: var(--font-tinos);
}


/* ------- */
/* WELCOME */
/* ------- */

#welcome > .title {
	margin-bottom: var(--title-margin-bottom);
}

#welcome .text {
	font-family: var(--font-texturina);
}


/* ----- */
/* PARTY */
/* ----- */

#party {
	display: flex;
	flex-direction: column;
	gap: var(--party-inner-gap);
}

#party > .title {
	margin-bottom: calc(var(--title-margin-bottom) - var(--party-inner-gap));
}


/* ------------------- */
/* EDIT PERSONAL STORY */
/* ------------------- */

#editPersonalStoryButton {
	position: absolute;
	right: 0;
	margin-right: calc(var(--bs-gutter-x)/2);
}

#editPersonalStoryModal textarea {
	min-height: 75vh;
}


/* ----------- */
/* BACK TO TOP */
/* ----------- */

#backToTopButton {
	position: sticky;
	bottom: var(--frosthaven-padding-y);
	float: right;

	width: var(--back-to-top-button-size);
	height: var(--back-to-top-button-size);
	--bs-btn-border-radius: var(--back-to-top-button-size);
}