
/* --------- */
/* VARIABLES */
/* --------- */

:root {
	/* Gap between character elements */
	--character-inner-gap: 1rem;

	/* Character mat size */
	--character-mat-width: 604px;
	--character-mat-height: 396px;
}


/* --------- */
/* CHARACTER */
/* --------- */

.character {
	display: flex;
	flex-direction: column;
	gap: var(--character-inner-gap);

	font-family: var(--font-tinos);
}

.character .mat {
	width: var(--character-mat-width);
	height: var(--character-mat-height);
	margin-left: auto;
	margin-right: auto;
}

.character .mat img {
	border: var(--img-border);
}


/* -------------- */
/* PERSONAL QUEST */
/* -------------- */

.personalQuest > .title {
	margin-bottom: 0.5rem;
}

.personalQuest .description {
	font-family: var(--font-texturina);
}

.personalQuest .pqRewards {
	margin-top: 1rem;

	--bs-card-border-width: 2px;
	--bs-card-border-color: #030302;
	--bs-card-cap-color: var(--frosthaven-color);
	--bs-card-bg: #e7cc8b;
}

.personalQuest .pqRewards .card-header {
	border-bottom-width: 2px;
}

.personalQuest .pqRewards .card-body {
	border-width: 0;
}


/* ----- */
/* ICONS */
/* ----- */

.character > .title .icon {
	margin-right: 0.25rem;
}

.character .icon.blinkblade   { max-height: 28px; }
.character .icon.crashingtide { max-height: 30px; }
.character .icon.deathwalker  { max-height: 32px; }
.character .icon.infuser      { max-height: 34px; }
.character .icon.snowdancer   { max-height: 32px; }
.character .icon.trapper      { max-height: 32px; }