
/* --------- */
/* VARIABLES */
/* --------- */

:root {
	/* Gap between character elements */
	--character-inner-gap: 1rem;

	/* Character mat size */
	--character-mat-width: 604px;
	--character-mat-height: 396px;
}


/* --------- */
/* CHARACTER */
/* --------- */

.character {
	display: flex;
	flex-direction: column;
	gap: var(--character-inner-gap);

	font-family: var(--font-tinos);
}

.character .mat {
	width: var(--character-mat-width);
	height: var(--character-mat-height);
	margin-left: auto;
	margin-right: auto;
}


/* -------------- */
/* PERSONAL QUEST */
/* -------------- */

.personalQuest .fhCard {
	float: left;
	margin-right: var(--img-margin);
	margin-bottom: var(--img-margin);
}

.personalQuest .title {
	margin-bottom: 0.5rem;
}

.personalQuest .description {
	font-family: var(--font-texturina);
}

.personalQuest .rewards {
	margin-top: var(--element-margin);

	--bs-card-spacer-x: 8px;
	--bs-card-spacer-y: 8px;
	--bs-card-cap-padding-y: 4px;
	--bs-card-cap-padding-x: 8px;

	--bs-card-border-width: 2px;
	--bs-card-border-radius: 0;
	--bs-card-border-color: #030302;

	--bs-card-bg: #e7cc8b;
}

.personalQuest .rewards .card-header {
	font-family: var(--font-germania-one);
	font-size: 14pt;
	line-height: 14pt;
}


/* ----- */
/* ICONS */
/* ----- */

.character .icon {
	margin-right: 0.25rem;
}

.character .icon.blinkblade { max-height: 28px; }
.character .icon.crashingtide { max-height: 30px; }
.character .icon.deathwalker { max-height: 32px; }