
/* --------- */
/* VARIABLES */
/* --------- */

:root {
	/* Gap between event elements */
	--event-inner-gap: 2rem;

	/* Gap between option elements */
	--event-option-inner-gap: 1rem;

	/* Gap between outpost attack elements */
	--event-outpost-attack-inner-gap: 0.5rem;

	/* Gap between event form inputs */
	--event-form-inner-gap: 1rem;
}


/* ----- */
/* EVENT */
/* ----- */

.event {
	font-family: var(--font-tinos);
}

.event > .title {
	margin-bottom: var(--title-margin-bottom);
}

.event > .title h1 {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.event > .title .titleSecondary {
	margin-right: 0.5rem;
}

.event .text {
	font-style: italic;
}


/* ------ */
/* OPTION */
/* ------ */

.event .option {
	margin-top: var(--event-inner-gap);
}

.event .option .text {
	margin-top: var(--event-option-inner-gap);
}

.event .option .rewards {
	margin-top: var(--event-option-inner-gap);
}


/* -------------- */
/* OUTPOST ATTACK */
/* -------------- */

.event .outpostAttack {
	display: flex;
	flex-direction: column;
	gap: var(--event-outpost-attack-inner-gap);
}

.event .outpostAttack .attack {
	white-space: nowrap;
	font-size: 14pt;
	font-weight: bold;
}

.event .outpostAttack .attack img {
	max-height: 27px;
}

.event .outpostAttack .target {
	white-space: nowrap;
	margin-left: 0.5rem;
	font-size: 12pt;
	font-weight: bold;
}

.event .outpostAttack .target img {
	max-height: 22px;
}

.event .outpostAttack .targetPriority {
	margin-left: 1rem;
	font-weight: bold;
}


/* ------- */
/* SECTION */
/* ------- */

.event div.section {
	margin-top: var(--event-inner-gap);
}


/* ---------- */
/* EVENT FORM */
/* ---------- */

#eventForm .card-body {
	display: flex;
	flex-direction: column;
	gap: var(--event-form-inner-gap);
}
