
/* --------- */
/* VARIABLES */
/* --------- */

:root {
	/* Gap between event elements */
	--event-inner-gap: 2rem;

	/* Gap between option elements */
	--event-option-inner-gap: 1rem;

	/* Gap between event form inputs */
	--event-form-inner-gap: 1rem;
}


/* ----- */
/* EVENT */
/* ----- */

.event {
	font-family: var(--font-tinos);
}

.event .title {
	margin-bottom: var(--title-margin-bottom);
}

.event .playingCard {
	float: left;
	margin-right: var(--img-margin);
	margin-bottom: var(--img-margin);
}

.event .text {
	font-style: italic;
}


/* ------ */
/* OPTION */
/* ------ */

.event .option {
	margin-top: var(--event-inner-gap);
}

.event .option .text {
	margin-top: var(--event-option-inner-gap);
}

.event .option .rewards {
	margin-top: var(--event-option-inner-gap);
	font-weight: bold;
}


/* ------- */
/* SECTION */
/* ------- */

.event .section {
	margin-top: var(--event-inner-gap);
}


/* ---------- */
/* EVENT FORM */
/* ---------- */

#eventForm .card-body {
	display: flex;
	flex-direction: column;
	gap: var(--event-form-inner-gap);
}