
/* --------- */
/* VARIABLES */
/* --------- */

:root {
	/* Padding top and bottom for the page content */
	--frosthaven-padding-y: 2rem;

	/* Default color for all text (extracted from Frosthaven PDFs) */
	--frosthaven-color: #2c2e35;      

	/* Margin bottom for some titles */
	--title-margin-bottom: 1rem;

	/* Title sizes */
	--title-size: 28pt;
	--title-size-small: 25pt;
	--title-size-smaller: 22pt;
	--subtitle-size: 12pt;

	/* Image border for some images */
	--img-border: 2px solid;
}


/* ------ */
/* NAVBAR */
/* ------ */

.navbar .navbar-brand {
	line-height: 0;
}

.navbar .navbar-nav {
	text-transform: uppercase;
}


/* --------- */
/* CONTAINER */
/* --------- */

.frosthaven {
	padding-top: var(--frosthaven-padding-y);
	padding-bottom: var(--frosthaven-padding-y);
	color: var(--frosthaven-color);
}


/* ------ */
/* TITLES */
/* ------ */

.frosthaven .title {
	margin-bottom: 0;
	font-family: var(--font-pirata-one);
	font-size: var(--title-size);
}

.frosthaven .title h1, .frosthaven .title h2, .frosthaven .title h3 {
	margin-bottom: 0;
}

.frosthaven .titleSecondary {
	font-family: var(--font-germania-one);
	font-size: var(--title-size-small);
}

.frosthaven .titleTertiary {
	font-family: var(--font-germania-one);
	font-size: var(--title-size-smaller);
}

.frosthaven .subtitle {
	font-family: var(--font-tinos);
	font-size: var(--subtitle-size);
}


/* ---------------- */
/* QUESTLINE COLORS */
/* ---------------- */

.questLine.introduction { background-color: #e4dede; }
.questLine.algoxSnowspeaker { background-color: #87d0df; }
.questLine.algoxIcespeaker { background-color: #3d6d97; color: #fcfcfc; }
.questLine.unfettered { background-color: #37913c; color: #fcfcfc; }
.questLine.lurker { background-color: #7c4583; color: #fcfcfc; }
.questLine.puzzleBook { background-color: #c1a043; }
.questLine.personalQuest { background-color: #bb212a; color: #fcfcfc; }
.questLine.jobPosting { background-color: #c95f26; }
.questLine.randomScenario { background-color: #6f5337; color: #fcfcfc; }
.questLine.other { background-color: transparent; }


/* ------- */
/* UTILITY */
/* ------- */

.frosthaven p:last-child {
	margin-bottom: 0;
}

.frosthaven .scenarioNumber {
	font-family: var(--font-germania-one);
}
