
/* --------- */
/* CONTAINER */
/* --------- */

.frosthaven {
	padding-top: var(--frosthaven-padding-y);
	padding-bottom: var(--frosthaven-padding-y);
	color: var(--frosthaven-color);
}


/* ------ */
/* TITLES */
/* ------ */

.frosthaven .title {
	margin-bottom: var(--title-margin-bottom);
	font-family: var(--font-pirata-one);
	font-size: var(--title-size);
}

.frosthaven .title .number {
	font-family: var(--font-germania-one);
	font-size: var(--title-size-small);
}

.frosthaven .title .unlockedBy {
	font-family: var(--font-tinos);
	font-size: 12pt;
	line-height: 1.5;
}


/* ------- */
/* UTILITY */
/* ------- */

.frosthaven p:last-child {
	margin-bottom: 0;
}

.frosthaven img:not(.icon) {
	border: var(--img-border);
}

.frosthaven .fhCard img {
	max-width: var(--img-card-max-size);
	max-height: var(--img-card-max-size);
}

.frosthaven .scenarioNumber {
	font-family: var(--font-germania-one);
}


/* ----- */
/* ICONS */
/* ----- */

.frosthaven .icon {
	max-height: 16px;
	margin-top: -3px;
}

.frosthaven .icon.one,
.frosthaven .icon.two,
.frosthaven .icon.three,
.frosthaven .icon.a,
.frosthaven .icon.b,
.frosthaven .icon.c,
.frosthaven .icon.d,
.frosthaven .icon.e {
	max-height: 20px;
}

.frosthaven .icon.bane,
.frosthaven .icon.bless,
.frosthaven .icon.brittle,
.frosthaven .icon.curse,
.frosthaven .icon.disarm,
.frosthaven .icon.immobilize,
.frosthaven .icon.impair,
.frosthaven .icon.invisible,
.frosthaven .icon.muddle,
.frosthaven .icon.pierce,
.frosthaven .icon.poison,
.frosthaven .icon.pull,
.frosthaven .icon.push,
.frosthaven .icon.regenerate,
.frosthaven .icon.strengthen,
.frosthaven .icon.stun,
.frosthaven .icon.ward,
.frosthaven .icon.wound {
	max-height: 20px;
}

.frosthaven .icon.crashingtide { max-height: 18px; }
.frosthaven .icon.deathwalker { max-height: 20px; }

.frosthaven .icon.damage { max-height: 18px; }
.frosthaven .icon.heal { max-height: 18px; }
.frosthaven .icon.range { max-height: 15px; }