/**
 * Global CSS
 * Fonts and global variables
 */

@font-face {
	font-family: 'Pirata One';
	src: url('/fonts/PirataOne.ttf') format('truetype');
}

@font-face {
	font-family: 'Germania One';
	src: url('/fonts/GermaniaOne.ttf') format('truetype');
}

@font-face {
	font-family: 'Tinos';
	src: url('/fonts/Tinos-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tinos';
	src: url('/fonts/Tinos-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Tinos';
	src: url('/fonts/Tinos-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Tinos';
	src: url('/fonts/Tinos-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Texturina';
	src: url('/fonts/Texturina-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

:root {
	--font-pirata-one: 'Pirata One';
	--font-germania-one: 'Germania One';
	--font-tinos: 'Tinos';
	--font-texturina: 'Texturina';
}