
/* ----- */
/* ICONS */
/* ----- */

.icon {
	max-height: 16px;
	margin-top: -3px;
}

/* Scenario helpers */
.icon.one,
.icon.two,
.icon.three,
.icon.a,
.icon.b,
.icon.c,
.icon.d,
.icon.e {
	max-height: 22px;
}

/* Conditions  */
.icon.bane,
.icon.bless,
.icon.brittle,
.icon.curse,
.icon.disarm,
.icon.immobilize,
.icon.impair,
.icon.invisible,
.icon.muddle,
.icon.pierce,
.icon.poison,
.icon.pull,
.icon.push,
.icon.regenerate,
.icon.strengthen,
.icon.stun,
.icon.ward,
.icon.wound {
	max-height: 20px;
}

/* Characters */
.icon.crashingtide { max-height: 18px; }
.icon.deathwalker  { max-height: 20px; }
.icon.deepwraith   { max-height: 19px; }
.icon.frozenfist   { max-height: 18px; }
.icon.snowdancer   { max-height: 19px; }

/* Resources */
.icon.hide        { max-height: 18px; }
.icon.lumber      { max-height: 14px; }
.icon.snowthistle { max-height: 18px; }

/* Others */
.icon.ally       { max-height: 15px; }
.icon.boat       { max-height: 18px; }
.icon.checkmark  { max-height: 14px; }
.icon.damage     { max-height: 18px; }
.icon.heal       { max-height: 18px; }
.icon.item       { max-height: 15px; }
.icon.linkForced { max-height: 12px; }
.icon.not        { max-height: 18px; }
.icon.plus1      { max-height: 18px; }
.icon.range      { max-height: 15px; }
.icon.retaliate  { max-height: 17px; }
.icon.sled       { max-height: 14px; }
.icon.trait      { max-height: 18px; }
.icon.xp         { max-height: 18px; }
