
/* --------- */
/* VARIABLES */
/* --------- */

.outpostPhase {
	/* Gap between outpost phase elements */
	--outpost-inner-gap: 3rem;

	/* Special buildings sizes */
	--boat-max-size: 350px;
	--climbinggear-max-size: 250px;
	--sled-max-size: 250px;
}


/* ------------- */
/* OUTPOST PHASE */
/* ------------- */

.outpostPhase {
	display: flex;
	flex-direction: column;
	gap: var(--outpost-inner-gap);
}

.outpostPhase > .title {
	margin-bottom: calc((var(--outpost-inner-gap) - 1rem)*-1);
}


/* ------------ */
/* CONSTRUCTION */
/* ------------ */

.outpostPhase .construction .building .fhCard {
	margin-top: var(--img-margin);
	text-align: center;
}

.building img.boat, .building img.climbinggear, .building img.sled {
	border: 0;
}

.building img.boat{
	max-width: var(--boat-max-size);
	max-height: var(--boat-max-size);
}

.building img.climbinggear{
	max-width: var(--climbinggear-max-size);
	max-height: var(--climbinggear-max-size);
}

.building img.sled{
	max-width: var(--sled-max-size);
	max-height: var(--sled-max-size);
}

.building .section {
	margin-top: var(--part-margin);
}