
/* --------- */
/* VARIABLES */
/* --------- */

:root {
	/* Gap between outpost phase elements */
	--outpost-inner-gap: 3rem;

	/* Gap between building elements */
	--outpost-building-inner-gap: 1rem;

	/* Gap between building and section */
	--outpost-building-section-gap: 2rem;

	/* Special buildings sizes */
	--boat-max-size: 350px;
	--climbinggear-max-size: 250px;
	--sled-max-size: 250px;
}


/* ------------- */
/* OUTPOST PHASE */
/* ------------- */

.outpostPhase {
	display: flex;
	flex-direction: column;
	gap: var(--outpost-inner-gap);
}

.outpostPhase > .title {
	margin-bottom: calc((var(--outpost-inner-gap) - var(--title-margin-bottom))*-1);
}

.levelUps > .title {
	margin-bottom: var(--title-margin-bottom);
}


/* ------------ */
/* CONSTRUCTION */
/* ------------ */

.construction > .title {
	margin-bottom: var(--title-margin-bottom);
}

.building {
	display: flex;
	flex-direction: column;
	gap: var(--outpost-building-inner-gap);
}

.building .playingCards {
	display: flex;
	align-items: center;
	justify-content: center;
}

.building .section {
	margin-top: calc(var(--outpost-building-section-gap) - var(--outpost-building-inner-gap));
}


/* ----------------- */
/* SPECIAL BUILDINGS */
/* ----------------- */

.building img:not(.icon).boat {
	max-width: var(--boat-max-size);
	max-height: var(--boat-max-size);
}

.building img:not(.icon).climbinggear {
	max-width: var(--climbinggear-max-size);
	max-height: var(--climbinggear-max-size);
}

.building img:not(.icon).sled {
	max-width: var(--sled-max-size);
	max-height: var(--sled-max-size);
}
