
/* ------ */
/* COMMON */
/* ------ */

.scenario {
	font-family: var(--font-tinos);
	color: #2c2e35;
}

.scenario p:last-child {
	margin-bottom: 0;
}

.scenario .icon {
	height: 12pt;
	vertical-align: text-top;
}

.scenario .scenarioNumber {
	font-family: var(--font-germania-one);
}

.scenario .card {
	--bs-card-spacer-x: 8px;
	--bs-card-spacer-y: 8px;

	--bs-card-border-width: 0;
	--bs-card-inner-border-radius: 0;

	--bs-card-cap-padding-y: 4px;
	--bs-card-cap-padding-x: 8px;

	--bs-card-cap-color: white;

	--bs-card-color: #2c2e35;
}

.scenario .card-header {
	border-bottom-width: 3px;

	font-family: var(--font-germania-one);
	font-size: 14pt;
	line-height: 14pt;
}

.scenario .card-body {
	border-width: 0px 2px 2px 2px;
	border-style: solid;
}


/* ----- */
/* TITLE */
/* ----- */

.scenario .title {
	font-family: var(--font-pirata-one);
	font-size: 28pt;
}

.scenario .title .number {
	font-family: var(--font-germania-one);
	font-size: 25pt;
	vertical-align: bottom;
}

.scenario .title .location {
	font-family: var(--font-tinos);
	font-size: 12pt;
}


/* ----- */
/* GOALS */
/* ----- */

.scenario .goals {
	--bs-card-cap-bg: #a14f11;
	--bs-card-bg: #f5bf70;
}

.scenario .goals .card-header {
	border-bottom-color: #d27f20;
}

.scenario .goals .card-body {
	border-color: #cf5621;
}


/* ------------- */
/* SPECIAL RULES */
/* ------------- */

.scenario .specialRules {
	--bs-card-cap-bg: #422071;
	--bs-card-bg: #d5c7df;
}

.scenario .specialRules .card-header {
	border-bottom-color: #732c8c;
}

.scenario .specialRules .card-body {
	border-color: #412168;
}


/* ------------ */
/* INTRODUCTION */
/* ------------ */

.scenario .introduction {
	--bs-card-spacer-x: 0;
	--bs-card-cap-bg: #226526;
	--bs-card-bg: white;
}

.scenario .introduction .card-header {
	border-bottom-color: #73c34b;
}

.scenario .introduction .card-body {
	border-width: 0;
}


/* ------- */
/* TRIGGER */
/* ------- */

.scenario .trigger {
	font-family: var(--font-germania-one);
	font-size: 14pt;
	line-height: 14pt;
}

.scenario .trigger .icon {
	height: 14pt;
}


/* ---------- */
/* CONCLUSION */
/* ---------- */

.scenario .conclusion {
	--bs-card-spacer-x: 0;
	--bs-card-cap-bg: #6d0c07;
	--bs-card-bg: white;
}

.scenario .conclusion .card-header {
	border-bottom-color: #c92918;
}

.scenario .conclusion .card-body {
	border-width: 0;
}


/* ------- */
/* REWARDS */
/* ------- */

.scenario .rewards {
	--bs-card-cap-bg: #eba128;
	--bs-card-bg: #ebd3a0;
}

.scenario .rewards .card-header {
	border-bottom-color: #ffcb34;
}

.scenario .rewards .card-body {
	border-color: #a77b2a;
}