
/* ------ */
/* COMMON */
/* ------ */

.scenario {
	display: flex;
	flex-direction: column;
	gap: var(--scenario-inner-gap);
	font-family: var(--font-tinos);
}

.scenario .sections {
	display: flex;
	flex-direction: column;
	gap: var(--scenario-sections-gap);
}

.scenario .card, .section .card {
	--bs-card-spacer-x: 8px;
	--bs-card-spacer-y: 8px;

	--bs-card-border-width: 0;
	--bs-card-inner-border-radius: 0;

	--bs-card-cap-padding-y: 4px;
	--bs-card-cap-padding-x: 8px;

	--bs-card-cap-color: white;

	--bs-card-color: #2c2e35;
}

.scenario .card-header, .section .card-header {
	border-bottom-width: 3px;

	font-family: var(--font-germania-one);
	font-size: 14pt;
	line-height: 14pt;
}

.scenario .card-body, .section .card-body {
	border-width: 0px 2px 2px 2px;
	border-style: solid;
}


/* ----- */
/* TITLE */
/* ----- */

.scenario .title {
	margin-bottom: 0;
}

.scenario .title .location {
	font-family: var(--font-tinos);
	font-size: 12pt;
	line-height: 1.5;
}

.scenario .title .requirement {
	max-width: 40px;
	margin-left: 0.5rem;
	padding: 5px;
	border: 4px solid #e9cdad;
	border-radius: 30px;
	background-color: #d6a465;
}


/* ----- */
/* GOALS */
/* ----- */

.scenario .goals {
	--bs-card-cap-bg: #a14f11;
	--bs-card-bg: #f5bf70;
}

.scenario .goals .card-header {
	border-bottom-color: #d27f20;
}

.scenario .goals .card-body {
	border-color: #cf5621;
}


/* ------- */
/* EFFECTS */
/* ------- */

.scenario .effects {
	--bs-card-cap-bg: #00756d;
	--bs-card-bg: #b9d7d2;
}

.scenario .effects .card-header {
	border-bottom-color: #008d83;
}

.scenario .effects .card-body {
	border-color: #009a8b;
}