
/* ----- */
/* TITLE */
/* ----- */

.scenario .title .location {
	font-family: var(--font-tinos);
	font-size: 12pt;
}


/* ----- */
/* GOALS */
/* ----- */

.scenario .goals {
	--bs-card-cap-bg: #a14f11;
	--bs-card-bg: #f5bf70;
}

.scenario .goals .card-header {
	border-bottom-color: #d27f20;
}

.scenario .goals .card-body {
	border-color: #cf5621;
}
