
/* ------ */
/* COMMON */
/* ------ */

.section {
	display: flex;
	flex-direction: column;
	gap: var(--section-inner-gap);
}


/* ------- */
/* TRIGGER */
/* ------- */

.section .trigger {
	font-family: var(--font-germania-one);
	font-size: 14pt;
	line-height: 14pt;
}

.section .trigger .icon {
	height: 14pt;
}


/* ----- */
/* TITLE */
/* ----- */

.section .title {
	margin-bottom: 0;
	font-family: var(--font-germania-one);
	font-size: var(--title-size-small);
}

.section .title .number {
	font-size: var(--title-size-smaller);
}


/* ------------ */
/* INTRODUCTION */
/* ------------ */

.section .introduction {
	--bs-card-spacer-x: 0;
	--bs-card-cap-bg: #226526;
	--bs-card-bg: white;
}

.section .introduction .card-header {
	border-bottom-color: #73c34b;
}

.section .introduction .card-body {
	padding-bottom: 0;
	border-width: 0;
}


/* ------------- */
/* SPECIAL RULES */
/* ------------- */

.section .specialRules {
	--bs-card-cap-bg: #422071;
	--bs-card-bg: #d5c7df;
}

.section .specialRules .card-header {
	border-bottom-color: #732c8c;
}

.section .specialRules .card-body {
	border-color: #412168;
}

.section .specialRules .table {
	width: calc(100% + 2*var(--bs-card-spacer-x));
	margin-left: calc(var(--bs-card-spacer-x)*-1);
	margin-right: calc(var(--bs-card-spacer-x)*-1);
	margin-bottom: calc(var(--bs-card-spacer-y)*-1);
}

.section .specialRules .table th {
	border-right: 3px solid transparent;
	border-bottom: none;
	background-color: #a090b0;
	background-clip: padding-box;
	text-align: center;
}

.section .specialRules .table th:last-child {
	border-right: none;
}

.section .specialRules .table thead th {
	padding-top: 2px;
	padding-bottom: 2px;
}

.section .specialRules .table tbody th {
	font-weight: normal;
}

.section .specialRules .table td {
	border-bottom: none;
}


/* --- */
/* MAP */
/* --- */

.section .map {
	text-align: center;
}


/* ---------- */
/* CONCLUSION */
/* ---------- */

.section .conclusion {
	--bs-card-spacer-x: 0;
	--bs-card-cap-bg: #6d0c07;
	--bs-card-bg: white;
}

.section .conclusion .card-header {
	border-bottom-color: #c92918;
}

.section .conclusion .card-body {
	padding-bottom: 0;
	border-width: 0;
}


/* ------- */
/* REWARDS */
/* ------- */

.section .rewards {
	--bs-card-cap-bg: #eba128;
	--bs-card-bg: #ebd3a0;
}

.section .rewards .card-header {
	border-bottom-color: #ffcb34;
}

.section .rewards .card-body {
	border-color: #a77b2a;
}


/* ------------- */
/* SECTION LINKS */
/* ------------- */

.section .sectionLinks {
	--bs-card-cap-bg: #00487d;
	--bs-card-bg: #c7e3ef;
}

.section .sectionLinks .card-header {
	border-bottom-color: #00a0e2;
}

.section .sectionLinks .card-body {
	border-color: #1e5779;
}