
#tableOfContents {
	/* Make the table of contents always visible and scrollable by itself */
	max-height: calc(100vh - var(--frosthaven-padding-y));
	position: sticky;
	top: var(--frosthaven-padding-y);
	bottom: 0;
	overflow-y: scroll;
	scrollbar-width: thin;
}

#tableOfContents .list-group-item {
	display: flex;
	align-items: baseline;

	/* Active colors */
	--bs-list-group-active-color: var(--frosthaven-color);
	--bs-list-group-active-bg: var(--bs-secondary-bg);
	--bs-list-group-active-border-color: var(--bs-secondary-border-subtle);
}

#tableOfContents .scenarioNumber {
	display: flex;
	justify-content: center;

	width: 25px;
	height: 25px;
	margin-right: 0.4rem;
	border-radius: 25px;
}

#tableOfContents .iconWrapper {
	display: inline-block;
	width: 20px;
	text-align: center;
}

#tableOfContents .child {
	padding-left: 3rem;
}
