
:root {
	--campaign-padding-y: 2rem;     /* Padding top and bottom for the campaign page content */

	--title-margin-bottom: 1rem;    /* Margin bottom for all titles */
	--title-size: 28pt;
	--title-size-small: 25pt;

	--img-margin: 1rem;
	--img-border: 2px solid;        /* Image border for all big images (excluding icons) */
	--img-card-max-size: 400px;     /* Max size for images representing standard sized cards (personal quests, events, buildings, etc.) */

	--story-objects-gap: 5rem;      /* Gap between story objects */
	--section-margin-top: 2rem;     /* Margin top for sections inside same story object (characters inside party, outpost phase sections, etc.) */
	--element-margin-top: 1rem;     /* Margin top for elements inside same section */
}