<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" th:href="@{css/campaign.css}">
	<link rel="stylesheet" th:href="@{css/scenario.css}">
</head>

<body>
	<!-- Content -->
	<th:block layout:fragment="content">
		<div class="row campaign">
			<div class="col-3">
				<th:block th:replace="~{fragments/campaign :: tableOfContents(${scenarioList})}"></th:block>
			</div>
			<div class="col-9">
				<!-- Welcome -->
				<th:block th:replace="~{fragments/campaign :: welcome}"></th:block>
				<!-- The party -->
				<th:block th:replace="~{fragments/campaign :: party}"></th:block>
				
				<div th:each="storyObject : ${storyObjectsList}" class="storyObject mt-4 mb-5">
					<th:block th:if="${storyObject.objectType.name() == 'SCENARIO'}">
						<!-- Scenario -->
						<th:block th:replace="~{fragments/scenario :: scenario(${storyObject})}"></th:block>
					</th:block>
					<th:block th:if="${storyObject.objectType.name() == 'OUTPOST'}">
						<!-- Outpost phase -->
						<th:block th:replace="~{fragments/campaign :: outpost(${storyObject})}"></th:block>
					</th:block>
					<th:block th:if="${storyObject.objectType.name() == 'EVENT'}">
						<!-- Event -->
						<th:block th:replace="~{fragments/event :: event(${storyObject})}"></th:block>
					</th:block>
				</div>
			</div>
		</div>
	</th:block>

	<!-- Javascript -->
	<th:block layout:fragment="javascript"></th:block>
</body>
</html>