<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" th:href="@{/css/scenario.css}">
	<link rel="stylesheet" th:href="@{/css/section.css}">
</head>

<body>
	<!-- Content -->
	<th:block layout:fragment="content">
		<div class="row gx-5">
			<div class="col-3">
				<!-- TODO: Section form -->
			</div>
			<div class="col-9">
				<th:block th:if="${section}">
					<th:block th:replace="~{fragments/section :: section(${section})}"></th:block>
				</th:block>
			</div>
		</div>
	</th:block>
</body>
</html>