<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
<th:block th:fragment="sectionPage">
	<th:block th:replace="~{components/unlockedBy :: unlockedBy}"/>
	<th:block th:replace="~{components/rewards :: rewards}"/>
	<th:block th:replace="~{components/section/sectionForm :: sectionForm}"/>
	<th:block th:replace="~{components/section/section :: section}"/>

	<!-- TEMPLATE -->
	<template id="sectionPageTemplate">
		<bs:row gx="{md:4, xl:5}" gy="4">
			<bs:col col="{xs:12, md:3}">
				<fh-section-form
					:section-id="sectionId"
					@section-id-change="newSectionId => handleSectionIdChange(newSectionId)">
				</fh-section-form>
			</bs:col>
			<bs:col col="{xs:12, md:9}">
				<fh-section
					v-if="section"
					:section="section">
				</fh-section>
			</bs:col>
		</bs:row>
	</template>

	<!-- JAVASCRIPT -->
	<script th:inline="javascript">
		const FhSectionPage = {
			template: "#sectionPageTemplate",
			components: {
				FhSectionForm,
				FhSection
			},
			data() {
				return {
					sectionId: /*[[${sectionId}]]*/ null,
					section: null
				};
			},
			created() {
				if (this.sectionId) {
					this.sectionId = this.sectionId.replace("_", ".");
					this.fetchSection();
				}
			},
			methods: {
				handleSectionIdChange(newSectionId) {
					log.entry(newSectionId);
					this.sectionId = newSectionId;
					this.fetchSection();
					log.exit();
				},

				fetchSection() {
					log.entry();
					this.section = Frosthaven.getSection({ id: this.sectionId });
					log.exit();
				}
			}
		};
	</script>
</th:block>
</body>
</html>