<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- -------- -->
	<!-- CAMPAIGN -->
	<!-- -------- -->
	<div th:fragment="campaign" id="campaign" x-data="campaignData">
		<!-- Edit personal story button -->
		<bs:button tag="a" id="editPersonalStoryButton" color="primary" href="/edit">
			<i class="fa-solid fa-pen-to-square"></i>
		</bs:button>

		<div id="personalStory">
			<!-- WELCOME -->
			<div th:if="${welcome}" id="welcome" class="anchor">
				<h1 class="title">[[#{welcome.title}]]</h1>
				<div class="text">[(${welcome})]</div>
			</div>

			<!-- PARTY -->
			<div id="party" class="anchor">
				<h1 class="title">[[#{party.title}]]</h1>
				<template x-for="character in initialParty">
					<div x-data="{ initialParty: true }">
						<th:block th:replace="~{fragments/character :: character}"></th:block>
					</div>
				</template>
			</div>

			<template x-for="campaignItem in campaignItems">
				<div>
					<!-- SCENARIO -->
					<template x-if="campaignItem.scenario" x-data="{ get scenario() { return campaignItem.scenario } }">
						<th:block th:replace="~{fragments/scenario :: scenario}"/>
					</template>

					<!-- EVENT -->
					<template x-if="campaignItem.event" x-data="{ get event() { return campaignItem.event } }">
						<th:block th:replace="~{fragments/event :: event}"/>
					</template>

					<!-- SECTION -->
					<template x-if="campaignItem.section" x-data="{ get section() { return campaignItem.section } }">
						<th:block th:replace="~{fragments/section :: section}"/>
					</template>

					<!-- OUTPOST PHASE -->
					<template x-if="campaignItem.outpostPhase" x-data="{ get outpostPhase() { return campaignItem.outpostPhase } }">
						<th:block th:replace="~{fragments/outpostPhase :: outpostPhase}"/>
					</template>
				</div>
			</template>
		</div>

		<!-- Back to top button -->
		<bs:button id="backToTopButton" color="secondary" x-bind:class="{ 'd-none': !scrolledDown }" @click="backToTop()">
			<i class="fa-solid fa-arrow-up fa-lg"></i>
		</bs:button>
	</div>


	<!-- ----------- -->
	<!-- CAMPAIGN JS -->
	<!-- ----------- -->
	<script th:fragment="campaignJs" th:inline="javascript">
		document.addEventListener("alpine:init", () => {
			Alpine.data("campaignData", () => ({
				scrolledDown: false,

				init() {
					window.onscroll = () => {
						this.scrolledDown = document.body.scrollTop > 100 || document.documentElement.scrollTop > 100;
					};
				},

				backToTop() {
					log.entry();
					document.body.scrollTop = 0;               // Safari
					document.documentElement.scrollTop = 0;    // Chrome, Firefox, IE and Opera
				}
			}));
		});
	</script>
</body>
</html>